workflows/01-order-intake.json
{
  "name": "Подряд PRO — 01 Order Intake",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        320
      ],
      "webhookId": "podryad-telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-start",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "cond-order",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/order",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "cond-vip",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/vip",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "cond-pick",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/pick",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "cond-chat",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/chat_",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "cond-done",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/done_",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "fallbackOutput": "extra"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000002",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "👋 *Подряд PRO | Работа Омск*\n\nПлатформа работает по модели безопасной сделки:\n• заказчик оплачивает платформе\n• исполнитель получает выплату после выполнения\n• контакты скрыты до завершения\n\nКоманды:\n/order — оформить заказ\n/vip — ранний доступ к заказам (1000₽/мес)\n/pick — подбор ТОП-3 исполнителей (1000₽)\n\nОпишите задачу в одном сообщении, например:\n`Нужны 3 грузчика на Маркса 25, сегодня в 18:00, на 4 часа`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000003",
      "name": "Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        40
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "📝 *Оформление заказа*\n\nОтправьте одним сообщением:\n• адрес (улица + номер)\n• время\n• тип работ\n• количество людей\n• количество часов\n\nПример:\n`Нужно 2 грузчика, Ленина 50 Омск, завтра в 10:00, на 3 часа`\n\nЦена считается автоматически по тарифам платформы.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000004",
      "name": "Order Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "💎 /vip обрабатывается в Workflow 5 (Monetization).\n\nЕсли нужно, активирую доступ после оплаты.",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000015",
      "name": "VIP Routed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🎯 /pick обрабатывается в Workflow 5 (Monetization).\n\nПосле оплаты получите ТОП-3 исполнителей.",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000016",
      "name": "Pick Routed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "💬 Команда /chat_ обрабатывается в Workflow 7 (Chat Proxy).",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000017",
      "name": "Chat Routed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ Команда /done_ обрабатывается в Workflow 4 (Rating System).",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000018",
      "name": "Done Routed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        740
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ты — парсер заявок платформы \"Подряд PRO\" (Омск, Россия).\nИзвлеки из сообщения пользователя структурированные данные.\n\nПРАВИЛА:\n- Если город не указан — ставь \"Омск\"\n- Если время не указано — ставь null\n- Адрес должен быть полным: улица + номер + город\n- Если адрес неполный — needs_clarification: true\n- Если кол-во людей не указано: грузчики→2, уборка→1, стройка→2, другое→1\n- Если часы не указаны — ставь null и needs_clarification: true\n  (ЧАСЫ ОБЯЗАТЕЛЬНЫ для расчёта стоимости!)\n- work_type: определи из контекста\n- НЕ ИЗВЛЕКАЙ цену — платформа рассчитывает автоматически\n\nВЕРНИ ТОЛЬКО ВАЛИДНЫЙ JSON:\n{\n  \"city\": \"string\",\n  \"address\": \"string (полный адрес с городом)\",\n  \"time\": \"DD.MM.YYYY HH:mm или null\",\n  \"people\": \"int\",\n  \"hours\": \"int или null\",\n  \"work_type\": \"грузчики|уборка|стройка|разнорабочие|другое\",\n  \"comment\": \"string или null\",\n  \"needs_clarification\": false,\n  \"clarification_question\": \"string или null\"\n}"
            },
            {
              "role": "user",
              "content": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1,
          "maxTokens": 500
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000005",
      "name": "OpenAI Parse",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        760,
        980
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $('OpenAI Parse').first().json.message.content || '';\nraw = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  throw new Error('INVALID_OPENAI_JSON: ' + raw);\n}\n\nconst allowed = ['грузчики', 'уборка', 'стройка', 'разнорабочие', 'другое'];\nif (!allowed.includes(parsed.work_type)) parsed.work_type = 'другое';\n\nreturn [{ json: parsed }];"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000006",
      "name": "Parse OpenAI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-clarification",
              "leftValue": "={{ $json.needs_clarification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000007",
      "name": "Needs Clarification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        980
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❓ Уточните данные:\n\n{{ $json.clarification_question || 'Укажите полный адрес и количество часов' }}\n\nПример:\n`Нужны 2 грузчика, Ленина 50 Омск, сегодня 18:00, на 4 часа`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000008",
      "name": "Ask Clarification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1430,
        840
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.address }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "accept-language",
              "value": "ru"
            },
            {
              "name": "countrycodes",
              "value": "ru"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "PodryadPRO/1.0 (n8n-bot)"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000009",
      "name": "Nominatim Geocode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1430,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1gEHLSNMQIIxieDdHjrvgE15_AkoJleuWKLRajZIOCk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Rates",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "work_type",
              "lookupValue": "={{ $('Parse OpenAI JSON').item.json.work_type }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000019",
      "name": "Read Rates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1650,
        1100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse OpenAI JSON').first().json;\nconst geoResult = $('Nominatim Geocode').first().json;\nconst ratesResult = $('Read Rates').first()?.json || {};\n\nconst geo = Array.isArray(geoResult) ? geoResult[0] : geoResult;\n\nconst lat = geo?.lat ? parseFloat(geo.lat) : 54.9894;\nconst lon = geo?.lon ? parseFloat(geo.lon) : 73.3667;\nconst addr = parsed.address || 'Омск';\nconst yandexLink = `https://yandex.ru/maps/?pt=${lon},${lat}&z=16&text=${encodeURIComponent(addr)}`;\n\nconst people = Number(parsed.people || 1);\nconst hours = Number(parsed.hours || 0);\nconst clientRate = parseInt(ratesResult.client_rate, 10) || 600;\nconst workerRate = parseInt(ratesResult.worker_rate, 10) || 400;\nconst minHours = parseInt(ratesResult.min_hours, 10) || 1;\n\nconst effectiveHours = Math.max(hours, minHours);\nconst clientTotal = clientRate * people * effectiveHours;\nconst workerPayout = workerRate * people * effectiveHours;\nconst margin = clientTotal - workerPayout;\n\nconst customerId = $('Telegram Trigger').first().json.message.from.id;\nconst createdAt = new Date().toISOString();\n\nreturn [{\n  json: {\n    customer_id: String(customerId),\n    address: addr,\n    lat,\n    lon,\n    yandex_link: yandexLink,\n    time: parsed.time || '',\n    payment_text: `${clientRate}₽/час × ${people} чел × ${effectiveHours} ч`,\n    people,\n    hours: effectiveHours,\n    work_type: parsed.work_type || 'другое',\n    comment: parsed.comment || '',\n    status: 'pending',\n    executor_id: '',\n    message_id: '',\n    created_at: createdAt,\n    client_rate: clientRate,\n    worker_rate: workerRate,\n    client_total: clientTotal,\n    worker_payout: workerPayout,\n    margin,\n    payout_status: 'pending',\n    payout_at: ''\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000010",
      "name": "Build Order Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gEHLSNMQIIxieDdHjrvgE15_AkoJleuWKLRajZIOCk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Orders",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "address": "={{ $json.address }}",
            "lat": "={{ $json.lat }}",
            "lon": "={{ $json.lon }}",
            "yandex_link": "={{ $json.yandex_link }}",
            "time": "={{ $json.time }}",
            "payment_text": "={{ $json.payment_text }}",
            "people": "={{ $json.people }}",
            "hours": "={{ $json.hours }}",
            "work_type": "={{ $json.work_type }}",
            "comment": "={{ $json.comment }}",
            "status": "={{ $json.status }}",
            "executor_id": "={{ $json.executor_id }}",
            "message_id": "={{ $json.message_id }}",
            "created_at": "={{ $json.created_at }}",
            "client_rate": "={{ $json.client_rate }}",
            "worker_rate": "={{ $json.worker_rate }}",
            "client_total": "={{ $json.client_total }}",
            "worker_payout": "={{ $json.worker_payout }}",
            "margin": "={{ $json.margin }}",
            "payout_status": "={{ $json.payout_status }}",
            "payout_at": "={{ $json.payout_at }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000011",
      "name": "Append Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2110,
        1100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1gEHLSNMQIIxieDdHjrvgE15_AkoJleuWKLRajZIOCk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Orders",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customer_id",
              "lookupValue": "={{ $('Build Order Object').item.json.customer_id }}"
            },
            {
              "lookupColumn": "created_at",
              "lookupValue": "={{ $('Build Order Object').item.json.created_at }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000020",
      "name": "Read Saved Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2340,
        1100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const order = $('Read Saved Order').first()?.json || $('Build Order Object').first().json;\nconst orderId = order.order_id || 'new';\n\nconst text =\n`✅ *Заказ принят!*\\n\\n` +\n`📍 ${order.address}\\n` +\n`🗺 [Открыть на карте](${order.yandex_link})\\n` +\n`⏰ ${order.time || 'не указано'}\\n` +\n`👥 ${order.people} чел. × ${order.hours} ч.\\n` +\n`📋 ${order.work_type}\\n\\n` +\n`━━━━━━━━━━━━━━━━━━\\n` +\n`💰 *Стоимость: ${order.client_total}₽*\\n` +\n`  (${order.client_rate}₽/час × ${order.people} чел × ${order.hours} ч)\\n` +\n`━━━━━━━━━━━━━━━━━━\\n\\n` +\n`💳 Оплатите для публикации заказа:`;\n\nreturn [{\n  json: {\n    order_id: String(orderId),\n    client_total: Number(order.client_total),\n    text\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000021",
      "name": "Build Customer Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2570,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const order = $('Build Customer Message').first().json;\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst shopId = $env.YUKASSA_SHOP_ID;\nconst secretKey = $env.YUKASSA_SECRET_KEY;\n\nif (!shopId || !secretKey) {\n  throw new Error('YUKASSA_SHOP_ID / YUKASSA_SECRET_KEY not set in n8n Variables');\n}\n\nconst auth = Buffer.from(shopId + ':' + secretKey).toString('base64');\nconst idempotenceKey = 'order_' + order.order_id + '_' + Date.now();\n\nconst body = {\n  amount: {\n    value: String(Number(order.client_total).toFixed(2)),\n    currency: 'RUB'\n  },\n  confirmation: {\n    type: 'redirect',\n    return_url: 'https://podryadpro.ru/app/payments'\n  },\n  capture: true,\n  description: 'Подряд PRO — Заказ #' + order.order_id,\n  metadata: {\n    order_id: String(order.order_id)\n  }\n};\n\nreturn [{\n  json: {\n    auth_header: 'Basic ' + auth,\n    idempotence_key: idempotenceKey,\n    request_body: JSON.stringify(body),\n    order_id: order.order_id,\n    client_total: order.client_total,\n    text: order.text,\n    chat_id: String(chatId)\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000030",
      "name": "Build YooKassa Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.yookassa.ru/v3/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth_header }}"
            },
            {
              "name": "Idempotence-Key",
              "value": "={{ $json.idempotence_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.request_body }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000031",
      "name": "YooKassa Create Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const yukassa = $('YooKassa Create Payment').first().json;\nconst paymentUrl = yukassa.confirmation?.confirmation_url;\nconst orderData = $('Build YooKassa Request').first().json;\n\nif (!paymentUrl) {\n  throw new Error('No confirmation_url from YooKassa: ' + JSON.stringify(yukassa));\n}\n\nconst text = orderData.text + '\\n\\n🔗 Ссылка на оплату готова! Нажмите кнопку:';\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [\n    [\n      { text: '💳 Оплатить ' + orderData.client_total + '₽', url: paymentUrl }\n    ]\n  ]\n});\n\nreturn [{\n  json: {\n    chat_id: orderData.chat_id,\n    text: text,\n    reply_markup: keyboard\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000032",
      "name": "Build Payment Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8458784686:AAFicXZ-4cJGhZDyZShssBg0RZgxwg1jgOM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {{ $json.reply_markup }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000033",
      "name": "Send Payment to Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        1100
      ]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-1111-4000-8000-000000000013",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        920,
        1340
      ]
    },
    {
      "parameters": {
        "chatId": "407721399",
        "text": "=🚨 *ОШИБКА в Order Intake*\n\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000014",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1160,
        1340
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Order Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VIP Routed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pick Routed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Routed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done Routed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Parse": {
      "main": [
        [
          {
            "node": "Parse OpenAI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI JSON": {
      "main": [
        [
          {
            "node": "Needs Clarification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Clarification?": {
      "main": [
        [
          {
            "node": "Ask Clarification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nominatim Geocode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nominatim Geocode": {
      "main": [
        [
          {
            "node": "Read Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Rates": {
      "main": [
        [
          {
            "node": "Build Order Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Object": {
      "main": [
        [
          {
            "node": "Append Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Order": {
      "main": [
        [
          {
            "node": "Read Saved Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Saved Order": {
      "main": [
        [
          {
            "node": "Build Customer Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Customer Message": {
      "main": [
        [
          {
            "node": "Build YooKassa Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build YooKassa Request": {
      "main": [
        [
          {
            "node": "YooKassa Create Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YooKassa Create Payment": {
      "main": [
        [
          {
            "node": "Build Payment Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payment Message": {
      "main": [
        [
          {
            "node": "Send Payment to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Admin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "podryad-01-intake-v3",
  "meta": {
    "instanceId": "podryad-pro"
  },
  "tags": [
    {
      "name": "podryad-pro"
    },
    {
      "name": "telegram"
    },
    {
      "name": "intake"
    }
  ]
}
