workflows/01-order-intake.json
{
  "name": "01 — Order Intake",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [220, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "start",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              }
            },
            {
              "outputKey": "order_cmd",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/order",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "skip_handled_elsewhere",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              }
            },
            {
              "outputKey": "order_text",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": { "type": "string", "operation": "exists" }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-command",
      "name": "Switch Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "👋 Добро пожаловать в *Подряд PRO*!\n\n🔨 Мы помогаем найти исполнителей в Омске.\n\n📝 Чтобы создать заказ — просто опишите задачу текстом.\nНапример: _\"Нужны 2 грузчика на ул. Ленина 10, завтра в 10:00, 1500р/час\"_\n\n📋 Команды:\n/order — создать заказ\n/vip — VIP подписка (1000р/мес)\n/pick — подбор топ-3 исполнителей\n\n🌐 Сайт: podryad.pro",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-welcome",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 80],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "Ты — парсер заявок платформы \"Подряд PRO\" (Омск, Россия).\nИзвлеки из сообщения пользователя структурированные данные.\n\nПРАВИЛА:\n- Если город не указан — ставь \"Омск\"\n- Если время не указано — ставь null\n- Если сумма не указана — ставь null\n- Адрес должен быть полным: улица + номер + город\n- Если адрес неполный или непонятный — needs_clarification: true\n- work_type определяй по контексту: грузчики (переезд, погрузка), уборка (клининг, мытьё), стройка (ремонт, отделка), другое\n- people и hours — целые числа, если не указаны — null\n\nВЕРНИ ТОЛЬКО ВАЛИДНЫЙ JSON (без markdown, без комментариев):\n{\n  \"city\": \"string\",\n  \"address\": \"string (полный адрес с городом)\",\n  \"time\": \"DD.MM.YYYY HH:mm или null\",\n  \"payment\": \"string или null\",\n  \"people\": \"int или null\",\n  \"hours\": \"int или null\",\n  \"work_type\": \"грузчики|уборка|стройка|другое\",\n  \"comment\": \"string или null\",\n  \"needs_clarification\": false,\n  \"clarification_question\": \"string или null\"\n}",
              "role": "system"
            },
            {
              "content": "={{ $('Telegram Trigger').item.json.message.text }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.1,
          "maxTokens": 500
        }
      },
      "id": "openai-parse",
      "name": "OpenAI Parse Order",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [660, 340],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('OpenAI Parse Order').first().json.message.content;\n\nlet parsed;\ntry {\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{\n    json: {\n      needs_clarification: true,\n      clarification_question: 'Не удалось разобрать заявку. Пожалуйста, опишите задачу подробнее: адрес, время, количество людей и тип работы.'\n    }\n  }];\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "parse-json",
      "name": "Parse GPT Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.needs_clarification }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-clarification",
      "name": "Needs Clarification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 340]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🤔 Уточните, пожалуйста:\n\n{{ $json.clarification_question }}\n\n💡 Пример заявки:\n_\"Нужны 2 грузчика на ул. Ленина 10, завтра в 10:00, 1500р/час, переезд 3 этаж\"_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-clarification",
      "name": "Ask Clarification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://nominatim.openstreetmap.org/search?q={{ encodeURIComponent($json.address) }}&format=json&limit=1&accept-language=ru",
        "options": {
          "response": { "response": { "fullResponse": false } }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "PodraydPRO/1.0 (admin@podryad.pro)"
            }
          ]
        }
      },
      "id": "nominatim-geocode",
      "name": "Nominatim Geocode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 460]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse GPT Response').first().json;\nconst geoResult = $('Nominatim Geocode').first().json;\n\nconst geoData = Array.isArray(geoResult) ? geoResult[0] : geoResult;\nconst lat = geoData?.lat ? parseFloat(geoData.lat) : 54.9894;\nconst lon = geoData?.lon ? parseFloat(geoData.lon) : 73.3667;\n\nconst addr = encodeURIComponent(parsed.address || 'Омск');\nconst yandexLink = `https://yandex.ru/maps/?pt=${lon},${lat}&z=16&text=${addr}`;\n\nconst customerId = $('Telegram Trigger').first().json.message.from.id;\n\nreturn [{\n  json: {\n    customer_id: String(customerId),\n    address: parsed.address || 'Не указан',\n    lat: lat,\n    lon: lon,\n    yandex_link: yandexLink,\n    time: parsed.time || '',\n    payment: parsed.payment || '',\n    people: parsed.people || 1,\n    hours: parsed.hours || 1,\n    work_type: parsed.work_type || 'другое',\n    comment: parsed.comment || '',\n    status: 'pending',\n    executor_id: '',\n    message_id: '',\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "build-order",
      "name": "Build Order Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 460]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Orders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "address": "={{ $json.address }}",
            "lat": "={{ $json.lat }}",
            "lon": "={{ $json.lon }}",
            "yandex_link": "={{ $json.yandex_link }}",
            "time": "={{ $json.time }}",
            "payment": "={{ $json.payment }}",
            "people": "={{ $json.people }}",
            "hours": "={{ $json.hours }}",
            "work_type": "={{ $json.work_type }}",
            "comment": "={{ $json.comment }}",
            "status": "={{ $json.status }}",
            "executor_id": "",
            "message_id": "",
            "created_at": "={{ $json.created_at }}"
          }
        },
        "options": {}
      },
      "id": "sheets-append-order",
      "name": "Sheets: Append Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const order = $('Build Order Object').first().json;\nconst appendResult = $('Sheets: Append Order').first().json;\n\nconst orderId = appendResult.row_number ? appendResult.row_number - 1 : 'NEW';\n\nconst timeText = order.time || 'не указано';\nconst paymentText = order.payment || 'не указано';\nconst peopleText = order.people || '?';\nconst hoursText = order.hours || '?';\n\nconst text = `✅ Заказ #${orderId} принят! Проверьте данные:\\n\\n📍 ${order.address}\\n🗺 ${order.yandex_link}\\n⏰ ${timeText}\\n💰 ${paymentText}\\n👥 ${peopleText} чел. × ${hoursText} ч.\\n📋 ${order.work_type}${order.comment ? '\\n💬 ' + order.comment : ''}\\n\\n💳 Для публикации оплатите 500р.\\n❌ Данные неверные? Напишите заново.`;\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [\n    [\n      { text: '💳 Оплатить 500р', callback_data: `pay_${orderId}` }\n    ],\n    [\n      { text: '❌ Отменить', callback_data: `cancel_${orderId}` }\n    ]\n  ]\n});\n\nreturn [{\n  json: {\n    chat_id: $('Telegram Trigger').first().json.message.chat.id,\n    text: text,\n    reply_markup: keyboard,\n    order_id: orderId\n  }\n}];"
      },
      "id": "build-reply",
      "name": "Build Reply Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 460]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "reply_markup": "={{ $json.reply_markup }}"
        }
      },
      "id": "send-order-confirmation",
      "name": "Send Order Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2200, 460],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "📝 Опишите вашу задачу текстом, и я создам заказ.\n\n💡 Пример:\n_\"Нужны 2 грузчика на ул. Ленина 10, завтра в 10:00, 1500р/час, переезд 3 этаж\"_\n\nИли просто напишите что нужно сделать — я задам уточняющие вопросы.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-order-help",
      "name": "Send Order Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 180],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Ошибка в Order Intake workflow"
      },
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [220, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_ID }}",
        "text": "🚨 *ОШИБКА в Order Intake*\n\nWorkflow: {{ $json.workflow.name }}\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\n\nExecution ID: {{ $json.execution.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-admin-error",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [440, 600],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{ "node": "Switch Command", "type": "main", "index": 0 }]
      ]
    },
    "Switch Command": {
      "main": [
        [{ "node": "Send Welcome", "type": "main", "index": 0 }],
        [{ "node": "Send Order Help", "type": "main", "index": 0 }],
        [],
        [{ "node": "OpenAI Parse Order", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Parse Order": {
      "main": [
        [{ "node": "Parse GPT Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse GPT Response": {
      "main": [
        [{ "node": "Needs Clarification?", "type": "main", "index": 0 }]
      ]
    },
    "Needs Clarification?": {
      "main": [
        [{ "node": "Ask Clarification", "type": "main", "index": 0 }],
        [{ "node": "Nominatim Geocode", "type": "main", "index": 0 }]
      ]
    },
    "Nominatim Geocode": {
      "main": [
        [{ "node": "Build Order Object", "type": "main", "index": 0 }]
      ]
    },
    "Build Order Object": {
      "main": [
        [{ "node": "Sheets: Append Order", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Append Order": {
      "main": [
        [{ "node": "Build Reply Message", "type": "main", "index": 0 }]
      ]
    },
    "Build Reply Message": {
      "main": [
        [{ "node": "Send Order Confirmation", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Notify Admin Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "podryad-pro" },
    { "name": "telegram" },
    { "name": "orders" }
  ],
  "pinData": {},
  "versionId": "1"
}
