workflows/03-handle-response.json
{
  "name": "Подряд PRO — 03 Handle Response",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000001",
      "name": "Callback Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "podryad-callback"
    },
    {
      "parameters": {
        "jsCode": "const cb = $input.first().json.callback_query;\nconst data = cb.data; // ready_123, go_123, book_123\nconst parts = data.split('_');\nconst action = parts[0]; // ready, go, book\nconst orderId = parts.slice(1).join('_');\nconst userId = String(cb.from.id);\nconst username = cb.from.username || '';\nconst firstName = cb.from.first_name || '';\n\n// Фильтруем: нас интересуют только ready и go\nif (!['ready', 'go', 'book'].includes(action)) {\n  throw new Error('UNKNOWN_ACTION');\n}\n\nreturn [{\n  json: {\n    action,\n    order_id: orderId,\n    user_id: userId,\n    username,\n    first_name: firstName,\n    callback_query_id: cb.id\n  }\n}];"
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000002",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Orders", "mode": "list" },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "order_id",
              "lookupValue": "={{ $json.order_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000003",
      "name": "Lookup Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-published",
              "leftValue": "={{ $json.status }}",
              "rightValue": "published",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000004",
      "name": "Still Open?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "callback_query_id", "value": "={{ $('Parse Callback').item.json.callback_query_id }}" },
            { "name": "text", "value": "❌ Этот заказ уже занят!" },
            { "name": "show_alert", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000005",
      "name": "Already Taken",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Workers", "mode": "list" },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Parse Callback').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000006",
      "name": "Lookup Worker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "jsCode": "const worker = $('Lookup Worker').first().json;\nconst userId = $('Parse Callback').first().json.user_id;\n\n// Если исполнитель не найден в базе — автоматическая регистрация\nif (!worker || !worker.telegram_id) {\n  return [{\n    json: {\n      access: false,\n      reason: 'NOT_REGISTERED',\n      user_id: userId\n    }\n  }];\n}\n\n// Проверка бана\nif (worker.ban_until) {\n  const banDate = new Date(worker.ban_until);\n  if (banDate > new Date()) {\n    return [{\n      json: {\n        access: false,\n        reason: 'BANNED',\n        ban_until: worker.ban_until,\n        user_id: userId\n      }\n    }];\n  }\n}\n\n// Проверка white_list\nif (worker.white_list !== 'TRUE' && worker.white_list !== true) {\n  return [{\n    json: {\n      access: false,\n      reason: 'NOT_WHITELISTED',\n      user_id: userId\n    }\n  }];\n}\n\n// Проверка рейтинга\nconst rating = parseFloat(worker.rating) || 5.0;\nif (rating < 4.0) {\n  return [{\n    json: {\n      access: false,\n      reason: 'LOW_RATING',\n      rating,\n      user_id: userId\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    access: true,\n    worker_id: worker.telegram_id,\n    worker_name: worker.name || worker.username || 'Исполнитель',\n    worker_phone: worker.phone || 'не указан',\n    worker_rating: rating,\n    worker_username: worker.username || '',\n    is_vip: worker.is_vip === 'TRUE' || worker.is_vip === true\n  }\n}];"
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000007",
      "name": "Check Access",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-access",
              "leftValue": "={{ $json.access }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000008",
      "name": "Has Access?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "callback_query_id", "value": "={{ $('Parse Callback').item.json.callback_query_id }}" },
            { "name": "text", "value": "⛔ Нет доступа. Зарегистрируйтесь: @Podryad_PRO_bot /start" },
            { "name": "show_alert", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000009",
      "name": "No Access Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "jsCode": "// Атомарная проверка — повторное чтение перед записью\nconst order = $('Lookup Order').first().json;\nconst worker = $('Check Access').first().json;\n\nif (order.status !== 'published') {\n  throw new Error('ORDER_ALREADY_TAKEN');\n}\n\nreturn [{\n  json: {\n    order_id: order.order_id,\n    status: 'closed',\n    executor_id: worker.worker_id,\n    customer_id: order.customer_id,\n    address: order.address,\n    yandex_link: order.yandex_link,\n    time: order.time,\n    payment: order.payment,\n    people: order.people,\n    hours: order.hours,\n    work_type: order.work_type,\n    comment: order.comment,\n    message_id: order.message_id,\n    worker_name: worker.worker_name,\n    worker_phone: worker.worker_phone,\n    worker_rating: worker.worker_rating,\n    worker_username: worker.worker_username\n  }\n}];"
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000010",
      "name": "Atomic Lock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Orders", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "status": "closed",
            "executor_id": "={{ $json.executor_id }}"
          },
          "matchingColumns": ["order_id"]
        },
        "options": {}
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000011",
      "name": "Close Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2020, 100]
    },
    {
      "parameters": {
        "chatId": "={{ $('Atomic Lock').item.json.executor_id }}",
        "text": "🎉 *Заказ #{{ $('Atomic Lock').item.json.order_id }} — ВАШ!*\n\n📍 {{ $('Atomic Lock').item.json.address }}\n🗺 [Открыть маршрут]({{ $('Atomic Lock').item.json.yandex_link }})\n⏰ {{ $('Atomic Lock').item.json.time || 'не указано' }}\n💰 {{ $('Atomic Lock').item.json.payment || 'не указано' }}\n👥 {{ $('Atomic Lock').item.json.people }} чел. × {{ $('Atomic Lock').item.json.hours }} ч.\n📋 {{ $('Atomic Lock').item.json.work_type }}\n{{ $('Atomic Lock').item.json.comment ? '💬 ' + $('Atomic Lock').item.json.comment : '' }}\n\n✅ По завершении: /done\\_{{ $('Atomic Lock').item.json.order_id }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000012",
      "name": "Notify Worker",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2280, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $('Atomic Lock').item.json.customer_id }}",
        "text": "✅ *Исполнитель найден!*\n\n👤 {{ $('Atomic Lock').item.json.worker_name }}\n⭐ Рейтинг: {{ $('Atomic Lock').item.json.worker_rating }}\n{{ $('Atomic Lock').item.json.worker_phone !== 'не указан' ? '📞 ' + $('Atomic Lock').item.json.worker_phone : '' }}\n{{ $('Atomic Lock').item.json.worker_username ? '💬 @' + $('Atomic Lock').item.json.worker_username : '' }}\n\nОн уже едет к вам!\nПосле выполнения оцените: /done\\_{{ $('Atomic Lock').item.json.order_id }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000013",
      "name": "Notify Customer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2280, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHANNEL_ID }}\",\n  \"message_id\": {{ $('Atomic Lock').item.json.message_id }},\n  \"text\": \"🧾 РАБОТА ОМСК | Подряд PRO #{{ $('Atomic Lock').item.json.order_id }}\\n\\n🔒 ЗАКРЫТ — исполнитель найден\\n\\n📍 {{ $('Atomic Lock').item.json.address }}\\n⏰ {{ $('Atomic Lock').item.json.time || 'не указано' }}\\n💰 {{ $('Atomic Lock').item.json.payment || 'не указано' }}\\n\\n#работаомск #омск\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000014",
      "name": "Edit Channel Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "callback_query_id", "value": "={{ $('Parse Callback').item.json.callback_query_id }}" },
            { "name": "text", "value": "✅ Заказ ваш! Проверьте личные сообщения бота." },
            { "name": "show_alert", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-3333-4000-8000-000000000015",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 600]
    }
  ],
  "connections": {
    "Callback Trigger": {
      "main": [
        [{ "node": "Parse Callback", "type": "main", "index": 0 }]
      ]
    },
    "Parse Callback": {
      "main": [
        [{ "node": "Lookup Order", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Order": {
      "main": [
        [{ "node": "Still Open?", "type": "main", "index": 0 }]
      ]
    },
    "Still Open?": {
      "main": [
        [{ "node": "Lookup Worker", "type": "main", "index": 0 }],
        [{ "node": "Already Taken", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Worker": {
      "main": [
        [{ "node": "Check Access", "type": "main", "index": 0 }]
      ]
    },
    "Check Access": {
      "main": [
        [{ "node": "Has Access?", "type": "main", "index": 0 }]
      ]
    },
    "Has Access?": {
      "main": [
        [{ "node": "Atomic Lock", "type": "main", "index": 0 }],
        [{ "node": "No Access Reply", "type": "main", "index": 0 }]
      ]
    },
    "Atomic Lock": {
      "main": [
        [{ "node": "Close Order", "type": "main", "index": 0 }]
      ]
    },
    "Close Order": {
      "main": [
        [
          { "node": "Notify Worker", "type": "main", "index": 0 },
          { "node": "Notify Customer", "type": "main", "index": 0 },
          { "node": "Edit Channel Post", "type": "main", "index": 0 },
          { "node": "Answer Callback", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-03-response-v2",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }]
}
