workflows/04-rating-system.json
{
  "name": "Подряд PRO — 04 Rating System",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000001",
      "name": "Done Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "podryad-done"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-done",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/done_",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000002",
      "name": "Is Done Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $('Done Trigger').first().json.message.text;\nconst orderId = text.replace('/done_', '').trim();\nconst userId = String($('Done Trigger').first().json.message.from.id);\n\nreturn [{ json: { order_id: orderId, user_id: userId } }];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000003",
      "name": "Extract Done Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Orders", "mode": "list" },
        "filtersUI": {
          "values": [{ "lookupColumn": "order_id", "lookupValue": "={{ $json.order_id }}" }]
        },
        "options": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000004",
      "name": "Lookup Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [740, 200]
    },
    {
      "parameters": {
        "jsCode": "const order = $('Lookup Order').first().json;\nconst userId = $('Extract Done Data').first().json.user_id;\n\n// Определяем кто вызвал /done — заказчик или исполнитель\nconst isCustomer = userId === String(order.customer_id);\nconst isExecutor = userId === String(order.executor_id);\n\nif (order.status !== 'closed') {\n  return [{ json: { valid: false, reason: 'NOT_CLOSED' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    is_customer: isCustomer,\n    is_executor: isExecutor,\n    order_id: order.order_id,\n    customer_id: order.customer_id,\n    executor_id: order.executor_id\n  }\n}];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000005",
      "name": "Determine Role",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000015",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendPoll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.customer_id }},\n  \"question\": \"❓ Как прошёл заказ #{{ $json.order_id }}? Оцените исполнителя:\",\n  \"options\": [\n    \"⭐ Плохо (1)\",\n    \"⭐⭐ Ниже среднего (2)\",\n    \"⭐⭐⭐ Нормально (3)\",\n    \"⭐⭐⭐⭐ Хорошо (4)\",\n    \"⭐⭐⭐⭐⭐ Отлично (5)\"\n  ],\n  \"is_anonymous\": false,\n  \"allows_multiple_answers\": false\n}",
        "options": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000006",
      "name": "Send Poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "updates": ["poll_answer"],
        "additionalFields": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000007",
      "name": "Poll Answer Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 700],
      "webhookId": "podryad-poll-answer"
    },
    {
      "parameters": {
        "jsCode": "const answer = $input.first().json.poll_answer;\n// option_ids[0] — индекс выбранного варианта (0-4)\n// Добавляем 1 чтобы получить оценку 1-5\nconst score = (answer.option_ids[0] || 0) + 1;\nconst voterId = String(answer.user.id);\n\nreturn [{ json: { score, voter_id: voterId } }];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000008",
      "name": "Parse Poll Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 700]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Orders", "mode": "list" },
        "filtersUI": {
          "values": [{ "lookupColumn": "customer_id", "lookupValue": "={{ $json.voter_id }}" }]
        },
        "options": { "returnAllMatches": true }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000009",
      "name": "Find Voter Orders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [500, 700]
    },
    {
      "parameters": {
        "jsCode": "const orders = $('Find Voter Orders').all().map(i => i.json);\nconst score = $('Parse Poll Answer').first().json.score;\n\n// Находим последний закрытый заказ этого заказчика\nconst closedOrders = orders\n  .filter(o => o.status === 'closed' && o.executor_id)\n  .sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\n\nif (closedOrders.length === 0) {\n  throw new Error('NO_CLOSED_ORDERS');\n}\n\nconst lastOrder = closedOrders[0];\n\nreturn [{\n  json: {\n    executor_id: lastOrder.executor_id,\n    order_id: lastOrder.order_id,\n    score\n  }\n}];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000010",
      "name": "Find Executor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 700]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Workers", "mode": "list" },
        "filtersUI": {
          "values": [{ "lookupColumn": "telegram_id", "lookupValue": "={{ $json.executor_id }}" }]
        },
        "options": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000011",
      "name": "Lookup Worker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [980, 700]
    },
    {
      "parameters": {
        "jsCode": "const worker = $('Lookup Worker').first().json;\nconst score = $('Find Executor').first().json.score;\nconst oldRating = parseFloat(worker.rating) || 5.0;\nconst count = parseInt(worker.jobs_count) || 0;\n\n// Средневзвешенный рейтинг\nconst newRating = Math.round(((oldRating * count) + score) / (count + 1) * 100) / 100;\n\nlet needsBan = false;\nlet penaltyAmount = 0;\nlet penaltyMsg = '';\n\nif (score <= 2) {\n  // TODO: проверить предыдущие оценки для серийных штрафов\n  // Пока — предупреждение при каждой низкой оценке\n  penaltyMsg = '⚠️ Вы получили низкую оценку. При повторных низких оценках возможен штраф или бан.';\n  \n  // Если рейтинг упал ниже 3.0 после 5+ заказов — бан\n  if (newRating < 3.0 && count >= 5) {\n    needsBan = true;\n    const banDate = new Date();\n    banDate.setDate(banDate.getDate() + 30);\n    penaltyMsg = '🚫 Ваш рейтинг критически низкий. Вы заблокированы на 30 дней.';\n  }\n}\n\nreturn [{\n  json: {\n    telegram_id: worker.telegram_id,\n    rating: newRating,\n    jobs_count: count + 1,\n    needs_ban: needsBan,\n    ban_until: needsBan ? new Date(Date.now() + 30*24*60*60*1000).toISOString() : '',\n    penalty_msg: penaltyMsg,\n    score\n  }\n}];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000012",
      "name": "Calculate Rating",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 700]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Workers", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "rating": "={{ $json.rating }}",
            "jobs_count": "={{ $json.jobs_count }}",
            "ban_until": "={{ $json.ban_until }}"
          },
          "matchingColumns": ["telegram_id"]
        },
        "options": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000013",
      "name": "Update Worker Rating",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1460, 700]
    },
    {
      "parameters": {
        "chatId": "={{ $('Calculate Rating').item.json.telegram_id }}",
        "text": "📊 *Новая оценка за заказ*\n\n⭐ Оценка: {{ $('Calculate Rating').item.json.score }}/5\n📈 Ваш рейтинг: {{ $('Calculate Rating').item.json.rating }}\n✅ Выполнено заказов: {{ $('Calculate Rating').item.json.jobs_count }}\n\n{{ $('Calculate Rating').item.json.penalty_msg }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000014",
      "name": "Notify Worker Rating",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1700, 700]
    },
    {
      "parameters": {},
      "id": "d1b2c3d4-4444-4000-8000-000000000016",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 1000]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_ID }}",
        "text": "🚨 *ОШИБКА в Rating System*\n\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000017",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [260, 1000]
    }
  ],
  "connections": {
    "Done Trigger": {
      "main": [
        [{ "node": "Is Done Command?", "type": "main", "index": 0 }]
      ]
    },
    "Is Done Command?": {
      "main": [
        [{ "node": "Extract Done Data", "type": "main", "index": 0 }],
        []
      ]
    },
    "Extract Done Data": {
      "main": [
        [{ "node": "Lookup Order", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Order": {
      "main": [
        [{ "node": "Determine Role", "type": "main", "index": 0 }]
      ]
    },
    "Determine Role": {
      "main": [
        [{ "node": "Is Valid?", "type": "main", "index": 0 }]
      ]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "Send Poll", "type": "main", "index": 0 }],
        []
      ]
    },
    "Poll Answer Trigger": {
      "main": [
        [{ "node": "Parse Poll Answer", "type": "main", "index": 0 }]
      ]
    },
    "Parse Poll Answer": {
      "main": [
        [{ "node": "Find Voter Orders", "type": "main", "index": 0 }]
      ]
    },
    "Find Voter Orders": {
      "main": [
        [{ "node": "Find Executor", "type": "main", "index": 0 }]
      ]
    },
    "Find Executor": {
      "main": [
        [{ "node": "Lookup Worker", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Worker": {
      "main": [
        [{ "node": "Calculate Rating", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Rating": {
      "main": [
        [{ "node": "Update Worker Rating", "type": "main", "index": 0 }]
      ]
    },
    "Update Worker Rating": {
      "main": [
        [{ "node": "Notify Worker Rating", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Notify Admin Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-04-rating-v2",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }]
}
