workflows/04-rating-system.json
{
  "name": "Подряд PRO — 04 Rating System",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000001",
      "name": "Done Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "webhookId": "podryad-done",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-done",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/done_",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000002",
      "name": "Is Done Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $('Done Trigger').first().json.message.text;\nconst orderId = text.replace('/done_', '').trim();\nconst userId = String($('Done Trigger').first().json.message.from.id);\n\nreturn [{ json: { order_id: orderId, user_id: userId } }];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000003",
      "name": "Extract Done Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/orders?select=*&order_id=eq.' + encodeURIComponent(String($('Extract Done Data').first().json.order_id)) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000004",
      "name": "Lookup Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst rows = Array.isArray(raw) ? raw : [raw];\nif (!rows[0]?.order_id) throw new Error('ORDER_NOT_FOUND');\nreturn [{ json: rows[0] }];"
      },
      "id": "norm-order-done-04",
      "name": "Normalize Order Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const order = $('Normalize Order Row').first().json;\nconst userId = $('Extract Done Data').first().json.user_id;\n\n// Определяем кто вызвал /done — заказчик или исполнитель\nconst isCustomer = userId === String(order.customer_id);\nconst isExecutor = userId === String(order.executor_id);\n\nif (order.status !== 'closed') {\n  return [{ json: { valid: false, reason: 'NOT_CLOSED' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    is_customer: isCustomer,\n    is_executor: isExecutor,\n    order_id: order.order_id,\n    customer_id: order.customer_id,\n    executor_id: order.executor_id\n  }\n}];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000005",
      "name": "Determine Role",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000015",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendPoll' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($json.customer_id), question: \"❓ Как прошёл заказ #\" + String($json.order_id) + \"? Оцените исполнителя:\", options: [\"⭐ Плохо (1)\", \"⭐⭐ Ниже среднего (2)\", \"⭐⭐⭐ Нормально (3)\", \"⭐⭐⭐⭐ Хорошо (4)\", \"⭐⭐⭐⭐⭐ Отлично (5)\"], is_anonymous: false, allows_multiple_answers: false }) }}",
        "options": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000006",
      "name": "Send Poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "updates": [
          "poll_answer"
        ],
        "additionalFields": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000007",
      "name": "Poll Answer Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        700
      ],
      "webhookId": "podryad-poll-answer",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const answer = $input.first().json.poll_answer;\n// option_ids[0] — индекс выбранного варианта (0-4)\n// Добавляем 1 чтобы получить оценку 1-5\nconst score = (answer.option_ids[0] || 0) + 1;\nconst voterId = String(answer.user.id);\n\nreturn [{ json: { score, voter_id: voterId } }];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000008",
      "name": "Parse Poll Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/orders?select=*&customer_id=eq.' + encodeURIComponent($('Parse Poll Answer').first().json.voter_id) + '&status=eq.closed&order=created_at.desc&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000009",
      "name": "Fetch Last Closed Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst rows = Array.isArray(raw) ? raw : [raw];\nif (!rows[0]?.order_id) throw new Error('NO_CLOSED_ORDERS');\nreturn [{ json: rows[0] }];"
      },
      "id": "norm-closed-04",
      "name": "Normalize Last Closed Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const order = $('Normalize Last Closed Order').first().json;\nconst score = $('Parse Poll Answer').first().json.score;\nif (!order.executor_id) {\n  throw new Error('NO_EXECUTOR');\n}\nreturn [{\n  json: {\n    executor_id: order.executor_id,\n    order_id: order.order_id,\n    score\n  }\n}];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000010",
      "name": "Find Executor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/workers?select=*&telegram_id=eq.' + encodeURIComponent(String($('Find Executor').first().json.executor_id)) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000011",
      "name": "Lookup Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst rows = Array.isArray(raw) ? raw : [raw];\nif (!rows[0]?.telegram_id) throw new Error('WORKER_NOT_FOUND');\nreturn [{ json: rows[0] }];"
      },
      "id": "norm-worker-04",
      "name": "Normalize Worker Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const worker = $('Normalize Worker Row').first().json;\nconst score = $('Find Executor').first().json.score;\nconst oldRating = parseFloat(worker.rating) || 5.0;\nconst count = parseInt(worker.jobs_count) || 0;\n\n// Средневзвешенный рейтинг\nconst newRating = Math.round(((oldRating * count) + score) / (count + 1) * 100) / 100;\n\nlet needsBan = false;\nlet penaltyAmount = 0;\nlet penaltyMsg = '';\n\nif (score <= 2) {\n  // TODO: проверить предыдущие оценки для серийных штрафов\n  // Пока — предупреждение при каждой низкой оценке\n  penaltyMsg = '⚠️ Вы получили низкую оценку. При повторных низких оценках возможен штраф или бан.';\n  \n  // Если рейтинг упал ниже 3.0 после 5+ заказов — бан\n  if (newRating < 3.0 && count >= 5) {\n    needsBan = true;\n    const banDate = new Date();\n    banDate.setDate(banDate.getDate() + 30);\n    penaltyMsg = '🚫 Ваш рейтинг критически низкий. Вы заблокированы на 30 дней.';\n  }\n}\n\nreturn [{\n  json: {\n    telegram_id: worker.telegram_id,\n    rating: newRating,\n    jobs_count: count + 1,\n    needs_ban: needsBan,\n    ban_until: needsBan ? new Date(Date.now() + 30*24*60*60*1000).toISOString() : '',\n    penalty_msg: penaltyMsg,\n    score\n  }\n}];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000012",
      "name": "Calculate Rating",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        700
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/workers?telegram_id=eq.' + encodeURIComponent(String($('Calculate Rating').first().json.telegram_id)) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ rating: $('Calculate Rating').first().json.rating, jobs_count: $('Calculate Rating').first().json.jobs_count, ban_until: $('Calculate Rating').first().json.ban_until || null }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000013",
      "name": "Update Worker Rating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Calculate Rating').item.json.telegram_id }}",
        "text": "📊 *Новая оценка за заказ*\n\n⭐ Оценка: {{ $('Calculate Rating').item.json.score }}/5\n📈 Ваш рейтинг: {{ $('Calculate Rating').item.json.rating }}\n✅ Выполнено заказов: {{ $('Calculate Rating').item.json.jobs_count }}\n\n{{ $('Calculate Rating').item.json.penalty_msg }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000014",
      "name": "Notify Worker Rating",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1700,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "d1b2c3d4-4444-4000-8000-000000000016",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1000
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_ID }}",
        "text": "🚨 *ОШИБКА в Rating System*\n\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000017",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Done Trigger": {
      "main": [
        [
          {
            "node": "Is Done Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Done Command?": {
      "main": [
        [
          {
            "node": "Extract Done Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Done Data": {
      "main": [
        [
          {
            "node": "Lookup Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Order": {
      "main": [
        [
          {
            "node": "Normalize Order Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Role": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Send Poll",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Poll Answer Trigger": {
      "main": [
        [
          {
            "node": "Parse Poll Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Poll Answer": {
      "main": [
        [
          {
            "node": "Fetch Last Closed Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Executor": {
      "main": [
        [
          {
            "node": "Lookup Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Worker": {
      "main": [
        [
          {
            "node": "Normalize Worker Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Rating": {
      "main": [
        [
          {
            "node": "Update Worker Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Worker Rating": {
      "main": [
        [
          {
            "node": "Notify Worker Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Admin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Order Row": {
      "main": [
        [
          {
            "node": "Determine Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last Closed Order": {
      "main": [
        [
          {
            "node": "Normalize Last Closed Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Last Closed Order": {
      "main": [
        [
          {
            "node": "Find Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Worker Row": {
      "main": [
        [
          {
            "node": "Calculate Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "podryad-04-rating-v3-supabase",
  "meta": {
    "instanceId": "podryad-pro"
  },
  "tags": [
    {
      "name": "podryad-pro"
    }
  ]
}