workflows/05-monetization.json
{
  "name": "05 — Monetization (VIP + Pick)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-vip",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/vip",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-pick",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/pick",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "fallbackOutput": "extra"
      },
      "id": "switch-command",
      "name": "Switch Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/workers?select=*&telegram_id=eq.' + encodeURIComponent(String($('Telegram Trigger').first().json.message.from.id)) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "sheets-lookup-worker-vip",
      "name": "HTTP Get Worker VIP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst rows = Array.isArray(raw) ? raw : [raw];\nreturn rows.filter((r) => r && r.telegram_id).map((r) => ({ json: r }));"
      },
      "id": "norm-vip-worker-05",
      "name": "Normalize VIP Worker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const workers = $('Normalize VIP Worker').all();\nconst userId = String($('Telegram Trigger').first().json.message.from.id);\n\nif (workers.length === 0) {\n  return [{\n    json: {\n      is_vip: false,\n      is_registered: false,\n      user_id: userId\n    }\n  }];\n}\n\nconst worker = workers[0].json;\nconst isVip = worker.is_vip === 'TRUE' || worker.is_vip === true;\nlet vipActive = false;\n\nif (isVip && worker.vip_expires_at) {\n  vipActive = new Date(worker.vip_expires_at) > new Date();\n}\n\nreturn [{\n  json: {\n    is_vip: vipActive,\n    is_registered: true,\n    vip_expires_at: worker.vip_expires_at || '',\n    user_id: userId,\n    worker_name: worker.name || ''\n  }\n}];"
      },
      "id": "check-vip",
      "name": "Check VIP Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_vip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-already-vip",
      "name": "Already VIP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        180
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "🌟 Вы уже VIP!\n\nПодписка активна до: {{ $json.vip_expires_at }}\n\nVIP-преимущества:\n• Ранний доступ к заказам (на 30 мин раньше)\n• Приоритет при отклике\n• Значок VIP в профиле\n• Поддержка 24/7",
        "additionalFields": {}
      },
      "id": "send-already-vip",
      "name": "Send: Already VIP",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Check VIP Status').first().json.user_id;\nconst shopId = $env.YUKASSA_SHOP_ID;\nconst secretKey = $env.YUKASSA_SECRET_KEY;\n\nif (!shopId || !secretKey) {\n  throw new Error('YUKASSA credentials not configured in n8n Variables');\n}\n\nconst auth = Buffer.from(shopId + ':' + secretKey).toString('base64');\nconst idempotenceKey = 'vip_' + userId + '_' + Date.now();\n\nconst body = {\n  amount: { value: '1000.00', currency: 'RUB' },\n  confirmation: { type: 'redirect', return_url: 'https://podryadpro.ru/app/payments' },\n  capture: true,\n  description: 'Подряд PRO — VIP подписка',\n  metadata: { user_id: String(userId), type: 'vip' }\n};\n\nreturn [{\n  json: {\n    auth_header: 'Basic ' + auth,\n    idempotence_key: idempotenceKey,\n    request_body: JSON.stringify(body),\n    user_id: userId\n  }\n}];"
      },
      "id": "build-vip-offer",
      "name": "Build VIP Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.yookassa.ru/v3/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth_header }}"
            },
            {
              "name": "Idempotence-Key",
              "value": "={{ $json.idempotence_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.request_body }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "yukassa-vip-create",
      "name": "YooKassa VIP Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const yukassa = $('YooKassa VIP Payment').first().json;\nconst paymentUrl = yukassa.confirmation?.confirmation_url;\nconst userId = $('Build VIP Payment').first().json.user_id;\n\nif (!paymentUrl) {\n  throw new Error('No VIP payment URL from YooKassa');\n}\n\nconst text = '🌟 VIP-подписка — 1000₽/мес\\n\\nПреимущества:\\n• Ранний доступ к заказам (на 30 мин раньше)\\n• Приоритет при отклике\\n• Значок VIP в профиле\\n• Поддержка 24/7\\n\\n💳 Нажмите кнопку для оплаты:';\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [\n    [{ text: '💳 Оплатить VIP — 1000₽', url: paymentUrl }]\n  ]\n});\n\nreturn [{\n  json: {\n    chat_id: userId,\n    text: text,\n    reply_markup: keyboard\n  }\n}];"
      },
      "id": "build-vip-message",
      "name": "Build VIP Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"reply_markup\": {{ $json.reply_markup }}\n}",
        "options": {}
      },
      "id": "send-vip-offer",
      "name": "Send VIP Offer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vip-payment",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-vip-payment",
      "name": "Webhook: VIP Payment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        600
      ],
      "webhookId": "vip-payment"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook: VIP Payment').first().json.body || $('Webhook: VIP Payment').first().json;\n\nif (body.event !== 'payment.succeeded') {\n  throw new Error('VIP payment not succeeded');\n}\n\nconst payment = body.object;\nconst userId = payment.metadata?.user_id;\nconst paymentType = payment.metadata?.type || 'vip';\n\nreturn [{\n  json: {\n    user_id: userId,\n    type: paymentType,\n    yukassa_id: payment.id,\n    amount: parseInt(payment.amount?.value || 1000)\n  }\n}];"
      },
      "id": "parse-vip-payment",
      "name": "Parse VIP Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Parse VIP Payment').first().json.user_id;\nconst expiresAt = new Date();\nexpiresAt.setMonth(expiresAt.getMonth() + 1);\n\nreturn [{\n  json: {\n    telegram_id: userId,\n    is_vip: 'TRUE',\n    vip_expires_at: expiresAt.toISOString()\n  }\n}];"
      },
      "id": "calc-vip-expiry",
      "name": "Calculate VIP Expiry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        600
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/workers?telegram_id=eq.' + encodeURIComponent(String($('Calculate VIP Expiry').first().json.telegram_id)) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ is_vip: 'TRUE', vip_expires_at: $('Calculate VIP Expiry').first().json.vip_expires_at }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "sheets-activate-vip",
      "name": "Supabase Activate VIP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/payments' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ yukassa_id: $('Parse VIP Payment').first().json.yukassa_id, order_id: null, payer_id: String($('Parse VIP Payment').first().json.user_id), amount: $('Parse VIP Payment').first().json.amount, type: 'vip', status: 'paid', paid_at: new Date().toISOString(), created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "sheets-log-vip-payment",
      "name": "Supabase Log VIP Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse VIP Payment').first().json.user_id }}",
        "text": "🌟 VIP активирован!\n\nПодписка действует до: {{ $('Calculate VIP Expiry').first().json.vip_expires_at }}\n\nТеперь вы получаете:\n• Ранний доступ к заказам\n• Приоритет при отклике\n• Значок VIP\n\nСпасибо за доверие!",
        "additionalFields": {}
      },
      "id": "send-vip-activated",
      "name": "Send: VIP Activated",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"status\": \"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-vip-response",
      "name": "VIP Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $('Telegram Trigger').first().json.message.text;\nconst userId = String($('Telegram Trigger').first().json.message.from.id);\n\nconst description = text.replace('/pick', '').trim() || 'любой тип работ';\n\nreturn [{\n  json: {\n    user_id: userId,\n    description: description\n  }\n}];"
      },
      "id": "parse-pick",
      "name": "Parse /pick Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/workers?select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "sheets-read-all-workers",
      "name": "Fetch All Workers Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst rows = Array.isArray(raw) ? raw : [raw];\nreturn rows.filter(Boolean).map((r) => ({ json: r }));"
      },
      "id": "norm-all-workers-05",
      "name": "Normalize All Workers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const allWorkers = $('Normalize All Workers').all().map(i => i.json);\nconst description = $('Parse /pick Request').first().json.description;\n\nconst eligible = allWorkers\n  .filter(w => {\n    const whitelisted = w.white_list === 'TRUE' || w.white_list === true;\n    const highRating = parseFloat(w.rating || '0') >= 4.5;\n    const notBanned = !w.ban_until || new Date(w.ban_until) < new Date();\n    return whitelisted && highRating && notBanned;\n  })\n  .sort((a, b) => {\n    const ratingDiff = parseFloat(b.rating || '0') - parseFloat(a.rating || '0');\n    if (ratingDiff !== 0) return ratingDiff;\n    return parseInt(b.jobs_count || '0') - parseInt(a.jobs_count || '0');\n  })\n  .slice(0, 3);\n\nif (eligible.length === 0) {\n  return [{\n    json: {\n      has_workers: false,\n      description: description\n    }\n  }];\n}\n\nconst workersData = eligible.map(w => ({\n  name: w.name,\n  rating: w.rating,\n  jobs_count: w.jobs_count,\n  skills: w.skills,\n  is_vip: w.is_vip\n}));\n\nreturn [{\n  json: {\n    has_workers: true,\n    workers_array: JSON.stringify(workersData),\n    description: description,\n    top_workers: eligible\n  }\n}];"
      },
      "id": "filter-top-workers",
      "name": "Filter Top Workers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_workers }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-has-workers",
      "name": "Has Workers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        420
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse /pick Request').first().json.user_id }}",
        "text": "😔 К сожалению, сейчас нет подходящих исполнителей с рейтингом 4.5+.\n\nПопробуйте позже или создайте заказ — исполнители сами откликнутся!",
        "additionalFields": {}
      },
      "id": "send-no-workers",
      "name": "Send: No Workers",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        340
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "На основе данных исполнителей составь краткую рекомендацию на русском языке для заказчика.\nДля каждого из исполнителей укажи:\n- Имя и рейтинг (звёздочки)\n- Специализация\n- Кол-во выполненных заказов\n- Краткая характеристика (1 предложение)\nТон: профессиональный, доверительный.\nФормат: нумерованный список.",
              "role": "system"
            },
            {
              "content": "Запрос заказчика: {{ $json.description }}\n\nДанные исполнителей:\n{{ $json.workers_array }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 800
        }
      },
      "id": "openai-pick",
      "name": "OpenAI: Generate Pick",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1540,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const recommendation = $('OpenAI: Generate Pick').first().json.message.content;\nconst userId = $('Parse /pick Request').first().json.user_id;\nconst shopId = $env.YUKASSA_SHOP_ID;\nconst secretKey = $env.YUKASSA_SECRET_KEY;\n\nif (!shopId || !secretKey) {\n  throw new Error('YUKASSA credentials not configured');\n}\n\nconst auth = Buffer.from(shopId + ':' + secretKey).toString('base64');\nconst idempotenceKey = 'pick_' + userId + '_' + Date.now();\n\nconst body = {\n  amount: { value: '1000.00', currency: 'RUB' },\n  confirmation: { type: 'redirect', return_url: 'https://podryadpro.ru/app/payments' },\n  capture: true,\n  description: 'Подряд PRO — Подбор ТОП-3 исполнителей',\n  metadata: { user_id: String(userId), type: 'pick' }\n};\n\nreturn [{\n  json: {\n    auth_header: 'Basic ' + auth,\n    idempotence_key: idempotenceKey,\n    request_body: JSON.stringify(body),\n    user_id: userId,\n    recommendation: recommendation\n  }\n}];"
      },
      "id": "build-pick-payment",
      "name": "Build Pick Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.yookassa.ru/v3/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth_header }}"
            },
            {
              "name": "Idempotence-Key",
              "value": "={{ $json.idempotence_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.request_body }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "yukassa-pick-create",
      "name": "YooKassa Pick Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const yukassa = $('YooKassa Pick Payment').first().json;\nconst paymentUrl = yukassa.confirmation?.confirmation_url;\nconst pickData = $('Build Pick Payment').first().json;\n\nif (!paymentUrl) {\n  throw new Error('No Pick payment URL from YooKassa');\n}\n\nconst text = '🏆 Подбор исполнителей — Подряд PRO\\n\\n' + pickData.recommendation + '\\n\\n💳 Для получения контактов оплатите 1000₽.\\nПосле оплаты мы отправим вам номера телефонов.';\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [\n    [{ text: '💳 Получить контакты — 1000₽', url: paymentUrl }]\n  ]\n});\n\nreturn [{\n  json: {\n    chat_id: pickData.user_id,\n    text: text,\n    reply_markup: keyboard\n  }\n}];"
      },
      "id": "build-pick-message",
      "name": "Build Pick Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"reply_markup\": {{ $json.reply_markup }}\n}",
        "options": {}
      },
      "id": "send-pick-result",
      "name": "Send Pick Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        500
      ]
    },
    {
      "parameters": {
        "errorMessage": "Ошибка в Monetization workflow"
      },
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        220,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_ID }}",
        "text": "🚨 *ОШИБКА в Monetization*\n\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-admin-error",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        800
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Command": {
      "main": [
        [
          {
            "node": "HTTP Get Worker VIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse /pick Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check VIP Status": {
      "main": [
        [
          {
            "node": "Already VIP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already VIP?": {
      "main": [
        [
          {
            "node": "Send: Already VIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build VIP Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build VIP Payment": {
      "main": [
        [
          {
            "node": "YooKassa VIP Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YooKassa VIP Payment": {
      "main": [
        [
          {
            "node": "Build VIP Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build VIP Message": {
      "main": [
        [
          {
            "node": "Send VIP Offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: VIP Payment": {
      "main": [
        [
          {
            "node": "Parse VIP Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse VIP Payment": {
      "main": [
        [
          {
            "node": "Calculate VIP Expiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate VIP Expiry": {
      "main": [
        [
          {
            "node": "Supabase Activate VIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse /pick Request": {
      "main": [
        [
          {
            "node": "Fetch All Workers Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Top Workers": {
      "main": [
        [
          {
            "node": "Has Workers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Workers?": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Pick",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: No Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Pick": {
      "main": [
        [
          {
            "node": "Build Pick Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pick Payment": {
      "main": [
        [
          {
            "node": "YooKassa Pick Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YooKassa Pick Payment": {
      "main": [
        [
          {
            "node": "Build Pick Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pick Message": {
      "main": [
        [
          {
            "node": "Send Pick Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Admin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Get Worker VIP": {
      "main": [
        [
          {
            "node": "Normalize VIP Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize VIP Worker": {
      "main": [
        [
          {
            "node": "Check VIP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Activate VIP": {
      "main": [
        [
          {
            "node": "Supabase Log VIP Payment",
            "type": "main",
            "index": 0
          },
          {
            "node": "VIP Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Log VIP Payment": {
      "main": [
        [
          {
            "node": "Send: VIP Activated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Workers Supabase": {
      "main": [
        [
          {
            "node": "Normalize All Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize All Workers": {
      "main": [
        [
          {
            "node": "Filter Top Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "podryad-pro"
    },
    {
      "name": "monetization"
    },
    {
      "name": "vip"
    }
  ],
  "pinData": {},
  "versionId": "podryad-05-monetization-v3-supabase"
}