workflows/05-monetization.json
{
  "name": "Подряд PRO — 05 Monetization",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000001",
      "name": "Monetization Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "podryad-monetization"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-vip",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/vip",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "is-pick",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/pick",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "or"
        },
        "fallbackOutput": "extra"
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000002",
      "name": "Route VIP or Pick",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [260, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Workers", "mode": "list" },
        "filtersUI": {
          "values": [{ "lookupColumn": "telegram_id", "lookupValue": "={{ $('Monetization Trigger').item.json.message.from.id }}" }]
        },
        "options": {}
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000003",
      "name": "Check VIP Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [540, 100]
    },
    {
      "parameters": {
        "jsCode": "const worker = $('Check VIP Status').first().json;\nconst isVip = worker?.is_vip === 'TRUE' || worker?.is_vip === true;\nconst expiresAt = worker?.vip_expires_at;\n\nif (isVip && expiresAt) {\n  const expires = new Date(expiresAt);\n  if (expires > new Date()) {\n    return [{\n      json: {\n        already_vip: true,\n        expires: expires.toLocaleDateString('ru-RU'),\n        chat_id: $('Monetization Trigger').first().json.message.chat.id\n      }\n    }];\n  }\n}\n\nreturn [{\n  json: {\n    already_vip: false,\n    chat_id: $('Monetization Trigger').first().json.message.chat.id,\n    user_id: String($('Monetization Trigger').first().json.message.from.id)\n  }\n}];"
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000004",
      "name": "VIP Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "already-vip",
              "leftValue": "={{ $json.already_vip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000005",
      "name": "Already VIP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1020, 100]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "🌟 *Вы уже VIP!*\n\nВаша подписка активна до {{ $json.expires }}\n\n*Преимущества VIP:*\n• Ранний доступ к заказам (на 30 мин раньше)\n• Приоритет при отклике\n• VIP-бейдж в профиле",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000006",
      "name": "VIP Active Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "🌟 *VIP подписка — 1000р/мес*\n\n*Что даёт VIP:*\n• Ранний доступ к заказам (на 30 мин раньше)\n• Приоритет при отклике\n• VIP-бейдж в профиле\n• Персональная поддержка\n\n💳 Для оплаты нажмите кнопку ниже:",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    { "text": "💳 Оплатить VIP 1000р", "additionalFields": { "callbackData": "pay_vip_{{ $json.user_id }}" } }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000007",
      "name": "VIP Offer Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Workers", "mode": "list" },
        "filtersUI": {},
        "options": { "returnAllMatches": true }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000008",
      "name": "Read All Workers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [540, 500]
    },
    {
      "parameters": {
        "jsCode": "const workers = $('Read All Workers').all().map(i => i.json);\nconst msgText = $('Monetization Trigger').first().json.message.text;\nconst description = msgText.replace('/pick', '').trim() || 'любая работа';\n\n// Фильтруем: white_list, рейтинг >= 4.5, не забанены\nconst eligible = workers\n  .filter(w => {\n    if (w.white_list !== 'TRUE' && w.white_list !== true) return false;\n    if (parseFloat(w.rating || 0) < 4.0) return false;\n    if (w.ban_until) {\n      const banDate = new Date(w.ban_until);\n      if (banDate > new Date()) return false;\n    }\n    return true;\n  })\n  .sort((a, b) => parseFloat(b.rating || 0) - parseFloat(a.rating || 0))\n  .slice(0, 3);\n\nreturn [{\n  json: {\n    workers: eligible.map(w => ({\n      name: w.name || w.username || 'Неизвестный',\n      rating: w.rating,\n      jobs_count: w.jobs_count,\n      skills: w.skills,\n      is_vip: w.is_vip === 'TRUE'\n    })),\n    description,\n    chat_id: $('Monetization Trigger').first().json.message.chat.id\n  }\n}];"
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000009",
      "name": "Filter Top Workers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 500]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": { "__rl": true, "value": "gpt-4o-mini", "mode": "list" },
        "messages": {
          "values": [
            {
              "content": "На основе данных исполнителей составь краткую рекомендацию на русском языке для заказчика.\nДля каждого из исполнителей укажи:\n- Имя и рейтинг\n- Специализация (skills)\n- Кол-во выполненных заказов\n- Краткая характеристика (1 предложение)\n- Если VIP — отметь 🌟\nТон: профессиональный, доверительный.\nФормат: текстовый, с эмодзи, для Telegram.",
              "role": "system"
            },
            {
              "content": "Запрос заказчика: {{ $json.description }}\n\nДанные исполнителей:\n{{ JSON.stringify($json.workers, null, 2) }}",
              "role": "user"
            }
          ]
        },
        "options": { "temperature": 0.7, "maxTokens": 600 }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000010",
      "name": "GPT Recommendation",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1020, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $('Filter Top Workers').item.json.chat_id }}",
        "text": "🏆 *Подбор исполнителей*\n\n{{ $json.message.content }}\n\n💳 *Для получения контактов оплатите 1000р:*",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    { "text": "💳 Оплатить подбор 1000р", "additionalFields": { "callbackData": "pay_pick" } }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000011",
      "name": "Send Pick Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 500]
    }
  ],
  "connections": {
    "Monetization Trigger": {
      "main": [
        [{ "node": "Route VIP or Pick", "type": "main", "index": 0 }]
      ]
    },
    "Route VIP or Pick": {
      "main": [
        [{ "node": "Check VIP Status", "type": "main", "index": 0 }],
        [{ "node": "Read All Workers", "type": "main", "index": 0 }],
        []
      ]
    },
    "Check VIP Status": {
      "main": [
        [{ "node": "VIP Logic", "type": "main", "index": 0 }]
      ]
    },
    "VIP Logic": {
      "main": [
        [{ "node": "Already VIP?", "type": "main", "index": 0 }]
      ]
    },
    "Already VIP?": {
      "main": [
        [{ "node": "VIP Active Msg", "type": "main", "index": 0 }],
        [{ "node": "VIP Offer Msg", "type": "main", "index": 0 }]
      ]
    },
    "Read All Workers": {
      "main": [
        [{ "node": "Filter Top Workers", "type": "main", "index": 0 }]
      ]
    },
    "Filter Top Workers": {
      "main": [
        [{ "node": "GPT Recommendation", "type": "main", "index": 0 }]
      ]
    },
    "GPT Recommendation": {
      "main": [
        [{ "node": "Send Pick Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-05-monetization-v2",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }]
}
