workflows/06-daily-analytics.json
{
  "name": "Подряд PRO — 06 Daily Analytics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000001",
      "name": "Daily Cron 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/orders?select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000002",
      "name": "Fetch Orders Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/contractors?select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000003",
      "name": "Fetch Contractors Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const ordersRaw = $('Fetch Orders Supabase').first().json;\nconst allOrders = Array.isArray(ordersRaw) ? ordersRaw : [ordersRaw].filter(Boolean);\nconst contractorsRaw = $('Fetch Contractors Supabase').first().json;\nconst allContractors = Array.isArray(contractorsRaw) ? contractorsRaw : [contractorsRaw].filter(Boolean);\n\n// Сегодняшняя дата (MSK = UTC+3)\nconst now = new Date();\nconst mskOffset = 3 * 60 * 60 * 1000;\nconst mskNow = new Date(now.getTime() + mskOffset);\nconst todayStr = mskNow.toISOString().slice(0, 10); // YYYY-MM-DD\n\n// Фильтруем заказы за сегодня\nconst todayOrders = allOrders.filter(o => {\n  if (!o.created_at) return false;\n  const orderDate = new Date(o.created_at);\n  const orderMsk = new Date(orderDate.getTime() + mskOffset);\n  return orderMsk.toISOString().slice(0, 10) === todayStr;\n});\n\nconst total = todayOrders.length;\nconst newOrders = todayOrders.filter(o => o.status === 'new').length;\nconst priced = todayOrders.filter(o => o.status === 'priced').length;\nconst paid = todayOrders.filter(o => o.status === 'paid').length;\nconst completed = todayOrders.filter(o => o.status === 'completed').length;\nconst cancelled = todayOrders.filter(o => o.status === 'cancelled').length;\nconst revenue = todayOrders.filter(o => ['paid', 'completed', 'in_progress'].includes(o.status)).reduce((sum, o) => sum + (Number(o.platform_margin) || 0), 0);\nconst conversion = total > 0 ? Math.round(completed / total * 100) : 0;\n\n// Топ исполнитель дня\nconst todayExecutors = todayOrders\n  .filter(o => o.status === 'completed' && o.contractor_id)\n  .reduce((acc, o) => {\n    acc[o.contractor_id] = (acc[o.contractor_id] || 0) + 1;\n    return acc;\n  }, {});\n\nlet topContractor = 'нет данных';\nconst topEntry = Object.entries(todayExecutors)\n  .sort((a, b) => b[1] - a[1])[0];\n\nif (topEntry) {\n  const c = allContractors.find(c => String(c.id) === String(topEntry[0]));\n  if (c) {\n    topContractor = `${c.name || 'Без имени'} (${topEntry[1]} заказов)`;\n  }\n}\n\n// Общая статистика\nconst totalContractors = allContractors.length;\nconst activeContractors = allContractors.filter(c => c.status === 'active' || c.status === 'verified').length;\n\nconst dateFormatted = mskNow.toLocaleDateString('ru-RU', {\n  day: '2-digit', month: '2-digit', year: 'numeric'\n});\n\nreturn [{\n  json: {\n    date: dateFormatted,\n    total, newOrders, priced, paid, completed, cancelled,\n    revenue, conversion,\n    topContractor,\n    totalContractors, activeContractors,\n    totalAllOrders: allOrders.length\n  }\n}];"
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000004",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "📊 *Подряд PRO | Итоги {{ $json.date }}*\n\n━━━ *Заказы за сегодня* ━━━\n📥 Новых: {{ $json.total }}\n🆕 Новые: {{ $json.newOrders }}\n💰 Оценено: {{ $json.priced }}\n✅ Оплачено: {{ $json.paid }}\n🏁 Завершено: {{ $json.completed }}\n❌ Отменено: {{ $json.cancelled }}\n\n━━━ *Финансы* ━━━\n💰 Маржа платформы: {{ $json.revenue }}₽\n📈 Конверсия: {{ $json.conversion }}%\n\n━━━ *Исполнители* ━━━\n👥 Всего: {{ $json.totalContractors }}\n🔧 Активных: {{ $json.activeContractors }}\n\n🏆 *Топ дня:* {{ $json.topContractor }}\n\n📋 Всего заказов в системе: {{ $json.totalAllOrders }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000005",
      "name": "Send Daily Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "f1b2c3d4-6666-4000-8000-000000000006",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "🚨 *ОШИБКА в Daily Analytics*\n\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000007",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily Cron 20:00": {
      "main": [
        [
          {
            "node": "Fetch Orders Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [
          {
            "node": "Send Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Admin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Orders Supabase": {
      "main": [
        [
          {
            "node": "Fetch Contractors Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Contractors Supabase": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Moscow"
  },
  "versionId": "podryad-06-analytics-v3-supabase",
  "meta": {
    "instanceId": "podryad-pro"
  },
  "tags": [
    {
      "name": "podryad-pro"
    }
  ]
}