workflows/06-daily-analytics.json
{
  "name": "Подряд PRO — 06 Daily Analytics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000001",
      "name": "Daily Cron 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Orders", "mode": "list" },
        "filtersUI": {},
        "options": { "returnAllMatches": true }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000002",
      "name": "Read All Orders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [260, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEETS_ID }}", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Workers", "mode": "list" },
        "filtersUI": {},
        "options": { "returnAllMatches": true }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000003",
      "name": "Read All Workers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [260, 500]
    },
    {
      "parameters": {
        "jsCode": "const allOrders = $('Read All Orders').all().map(i => i.json);\nconst allWorkers = $('Read All Workers').all().map(i => i.json);\n\n// Сегодняшняя дата (MSK = UTC+3)\nconst now = new Date();\nconst mskOffset = 3 * 60 * 60 * 1000;\nconst mskNow = new Date(now.getTime() + mskOffset);\nconst todayStr = mskNow.toISOString().slice(0, 10); // YYYY-MM-DD\n\n// Фильтруем заказы за сегодня\nconst todayOrders = allOrders.filter(o => {\n  if (!o.created_at) return false;\n  const orderDate = new Date(o.created_at);\n  const orderMsk = new Date(orderDate.getTime() + mskOffset);\n  return orderMsk.toISOString().slice(0, 10) === todayStr;\n});\n\nconst total = todayOrders.length;\nconst published = todayOrders.filter(o => o.status === 'published').length;\nconst closed = todayOrders.filter(o => o.status === 'closed').length;\nconst pending = todayOrders.filter(o => o.status === 'pending').length;\nconst cancelled = todayOrders.filter(o => o.status === 'cancelled').length;\nconst revenue = (closed + published) * 500; // 500р за публикацию\nconst conversion = total > 0 ? Math.round(closed / total * 100) : 0;\n\n// Топ исполнитель дня\nconst todayExecutors = todayOrders\n  .filter(o => o.status === 'closed' && o.executor_id)\n  .reduce((acc, o) => {\n    acc[o.executor_id] = (acc[o.executor_id] || 0) + 1;\n    return acc;\n  }, {});\n\nlet topWorker = 'нет данных';\nconst topExecutorId = Object.entries(todayExecutors)\n  .sort((a, b) => b[1] - a[1])[0];\n\nif (topExecutorId) {\n  const w = allWorkers.find(w => String(w.telegram_id) === String(topExecutorId[0]));\n  if (w) {\n    topWorker = `${w.name || w.username} (⭐${w.rating}, ${topExecutorId[1]} заказов)`;\n  }\n}\n\n// Общая статистика\nconst totalWorkers = allWorkers.length;\nconst activeWorkers = allWorkers.filter(w => parseInt(w.jobs_count || 0) > 0).length;\nconst vipWorkers = allWorkers.filter(w => w.is_vip === 'TRUE' || w.is_vip === true).length;\n\nconst dateFormatted = mskNow.toLocaleDateString('ru-RU', {\n  day: '2-digit', month: '2-digit', year: 'numeric'\n});\n\nreturn [{\n  json: {\n    date: dateFormatted,\n    total, published, closed, pending, cancelled,\n    revenue, conversion,\n    topWorker,\n    totalWorkers, activeWorkers, vipWorkers,\n    totalAllOrders: allOrders.length\n  }\n}];"
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000004",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_ID }}",
        "text": "📊 *Подряд PRO | Итоги {{ $json.date }}*\n\n━━━ *Заказы за сегодня* ━━━\n📥 Новых: {{ $json.total }}\n⏳ В ожидании: {{ $json.pending }}\n📤 Опубликовано: {{ $json.published }}\n✅ Закрыто: {{ $json.closed }}\n❌ Отменено: {{ $json.cancelled }}\n\n━━━ *Финансы* ━━━\n💰 Выручка: {{ $json.revenue }}₽\n📈 Конверсия: {{ $json.conversion }}%\n\n━━━ *Исполнители* ━━━\n👥 Всего: {{ $json.totalWorkers }}\n🔧 Активных: {{ $json.activeWorkers }}\n🌟 VIP: {{ $json.vipWorkers }}\n\n🏆 *Топ дня:* {{ $json.topWorker }}\n\n📋 Всего заказов в системе: {{ $json.totalAllOrders }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000005",
      "name": "Send Daily Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [800, 400]
    },
    {
      "parameters": {},
      "id": "f1b2c3d4-6666-4000-8000-000000000006",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 700]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_ID }}",
        "text": "🚨 *ОШИБКА в Daily Analytics*\n\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000007",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [260, 700]
    }
  ],
  "connections": {
    "Daily Cron 20:00": {
      "main": [
        [
          { "node": "Read All Orders", "type": "main", "index": 0 },
          { "node": "Read All Workers", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read All Orders": {
      "main": [
        [{ "node": "Calculate Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Read All Workers": {
      "main": [
        [{ "node": "Calculate Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [{ "node": "Send Daily Report", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Notify Admin Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Moscow"
  },
  "versionId": "podryad-06-analytics-v2",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }]
}
