workflows/07-max-crosspost.json
{
  "name": "Подряд PRO — 07 MAX Cross-Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gEHLSNMQIIxieDdHjrvgE15_AkoJleuWKLRajZIOCk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Orders",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "published"
            }
          ]
        },
        "options": {}
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000002",
      "name": "Read Published Orders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst unpublished = items.filter(item => {\n  const maxPosted = item.json.max_posted;\n  return maxPosted !== 'TRUE' && maxPosted !== true && maxPosted !== 'true';\n});\n\nif (unpublished.length === 0) {\n  return [];\n}\n\nreturn unpublished;"
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000003",
      "name": "Filter Unposted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000004",
      "name": "Has Orders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000005",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const order = $input.first().json;\n\nconst workTypeHashtag = {\n  'грузчики': '#грузчикиомск',\n  'уборка': '#уборкаомск',\n  'стройка': '#стройкаомск',\n  'разнорабочие': '#разнорабочиеомск',\n  'другое': '#подработкаомск'\n};\nconst hashtag = workTypeHashtag[order.work_type] || '#подработкаомск';\n\nlet text = `🧾 *РАБОТА ОМСК | Подряд PRO #${order.order_id}*\\n\\n`;\ntext += `📍 ${order.address}\\n`;\ntext += `🗺 [Открыть на карте](${order.yandex_link})\\n\\n`;\n\nif (order.time) text += `⏰ ${order.time}\\n`;\n\nif (order.worker_rate) {\n  text += `💰 ${order.worker_rate}₽/час\\n`;\n}\nif (order.people) text += `👥 ${order.people} чел.`;\nif (order.hours) text += ` × ${order.hours} ч.`;\ntext += `\\n📋 ${order.work_type}\\n`;\n\nif (order.worker_payout) {\n  text += `💵 Итого на руки: ${order.worker_payout}₽\\n`;\n}\n\nif (order.comment) text += `💬 ${order.comment}\\n`;\n\ntext += `\\n👇 Откликнуться на заказ:\\n`;\ntext += `🌐 [podryad.pro/app/map](https://podryad.pro/app/map)\\n\\n`;\ntext += `#работаомск #подработка ${hashtag} #омск`;\n\nconst body = {\n  text: text,\n  format: 'markdown',\n  attachments: [\n    {\n      type: 'inline_keyboard',\n      payload: {\n        buttons: [\n          [\n            {\n              type: 'link',\n              text: '📍 Открыть на карте',\n              url: order.yandex_link || `https://yandex.ru/maps/?pt=${order.lon},${order.lat}&z=16`\n            }\n          ],\n          [\n            {\n              type: 'link',\n              text: '✅ Откликнуться на заказ',\n              url: 'https://podryad.pro/app/map'\n            }\n          ]\n        ]\n      }\n    }\n  ]\n};\n\nreturn [{ json: { ...order, max_post_body: body } }];"
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000006",
      "name": "Build MAX Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAX_API_BASE }}/messages?chat_id={{ $env.MAX_CHANNEL_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.max_post_body) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000007",
      "name": "Send to MAX Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        250
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gEHLSNMQIIxieDdHjrvgE15_AkoJleuWKLRajZIOCk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Orders",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $('Build MAX Post').item.json.order_id }}",
            "max_posted": "TRUE",
            "max_message_id": "={{ $json.body?.message?.body?.mid || $json.message?.body?.mid || '' }}"
          },
          "matchingColumns": [
            "order_id"
          ]
        },
        "options": {}
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000008",
      "name": "Update Order MAX Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1740,
        250
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000009",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1980,
        250
      ]
    },
    {
      "parameters": {},
      "id": "g1b2c3d4-7777-4000-8000-000000000010",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "chatId": "407721399",
        "text": "🚨 *ОШИБКА в MAX Cross-Post*\n\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}\n\nВозможно, MAX API недоступен. Проверьте токен и chat_id.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "g1b2c3d4-7777-4000-8000-000000000011",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Published Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Published Orders": {
      "main": [
        [
          {
            "node": "Filter Unposted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unposted": {
      "main": [
        [
          {
            "node": "Has Orders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Orders?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Build MAX Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build MAX Post": {
      "main": [
        [
          {
            "node": "Send to MAX Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to MAX Channel": {
      "main": [
        [
          {
            "node": "Update Order MAX Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order MAX Status": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Admin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "versionId": "podryad-07-max-crosspost-v1",
  "meta": {
    "instanceId": "podryad-pro"
  },
  "tags": [
    {
      "name": "podryad-pro"
    },
    {
      "name": "max"
    },
    {
      "name": "cross-post"
    }
  ]
}
