workflows/11-lead-notification.json
{
  "name": "Подряд PRO — 11 Lead Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-notification",
        "options": { "responseMode": "onReceived" }
      },
      "id": "lead-wh-001",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-lead-notification"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Lead').first().json;\nconst b = root.body || root;\nconst WORK_TYPE_LABELS = { labor: 'Рабочие / бригада', equipment: 'Техника', materials: 'Материалы', complex: 'Комплекс услуг' };\nconst workType = String(b.work_type || b.category || '');\nconst categoryLabel = WORK_TYPE_LABELS[workType] || workType || 'не указана';\nconst comment = String(b.comment || b.description || '').slice(0, 500);\nconst phone = String(b.phone || 'не указан');\nconst city = String(b.city || 'Омск');\nconst messenger = String(b.messenger || 'не указан');\nconst name = b.name ? `\\n\\uD83D\\uDC64 Имя: ${b.name}` : '';\nconst commentLine = comment ? `\\n\\uD83D\\uDCAC Комментарий: ${comment}` : '';\nconst createdAt = b.created_at || new Date().toISOString();\n\nconst text = `\\uD83D\\uDD14 *Новая заявка!*\\n\\n\\uD83D\\uDD28 Тип работ: ${categoryLabel}${name}\\n\\uD83D\\uDCDE Телефон: ${phone}\\n\\uD83C\\uDFD9 Город: ${city}\\n\\uD83D\\uDCAC Мессенджер: ${messenger}${commentLine}\\n\\uD83D\\uDD52 Дата: ${createdAt}`;\n\nreturn [{ json: { maxText: text, tgText: text, workType, phone } }];"
      },
      "id": "lead-parse-002",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAX_API_BASE }}/messages?chat_id={{ $env.MAX_CHANNEL_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.maxText, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "lead-max-003",
      "name": "Send to MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.tgText, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "lead-tg-004",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {},
      "id": "lead-error-005",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=\uD83D\uDEA8 *ОШИБКА в Lead Notification*\n\nNode: {{ $json.execution.error.node.name }}\nОшибка: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "lead-error-notify-006",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [260, 600],
      "credentials": { "telegramApi": { "id": "1", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Webhook Lead": {
      "main": [[{ "node": "Build Messages", "type": "main", "index": 0 }]]
    },
    "Build Messages": {
      "main": [
        [
          { "node": "Send to MAX", "type": "main", "index": 0 },
          { "node": "Send to Telegram", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-11-lead-notification-v1",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "leads" }, { "name": "notification" }]
}
