workflows/12-payment-held.json
{
  "name": "Подряд PRO — 12 Payment Held",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-held",
        "options": { "responseMode": "onReceived" }
      },
      "id": "pmh-wh-001",
      "name": "Webhook Payment Held",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-payment-held"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Payment Held').first().json;\nconst b = root.body || root;\nconst WORK_TYPE_LABELS = { labor: 'Рабочие / бригада', equipment: 'Техника', materials: 'Материалы', complex: 'Комплекс услуг', combo: 'Комбо-заказ' };\nconst rawType = String(b.work_type || '');\nconst work_type_label = WORK_TYPE_LABELS[rawType] || rawType || 'не указан';\nconst order_id = String(b.order_id || '—');\nconst customer_name = String(b.customer_name || 'не указано');\nconst customer_phone = String(b.customer_phone || 'не указан');\nconst amount = b.amount != null ? Number(b.amount).toLocaleString('ru-RU') + ' ₽' : 'не указана';\nconst address = String(b.address || 'не указан');\nconst paid_at = String(b.paid_at || new Date().toISOString());\n\nconst text = `\\uD83D\\uDCB0 *Платёж удержан (escrow)*\\n\\n\\uD83C\\uDD94 Заказ: ${order_id}\\n\\uD83D\\uDC64 Клиент: ${customer_name}\\n\\uD83D\\uDCDE Тел: ${customer_phone}\\n\\uD83D\\uDD28 Тип работ: ${work_type_label}\\n\\uD83D\\uDCCD Адрес: ${address}\\n\\uD83D\\uDCB5 Сумма: ${amount}\\n\\uD83D\\uDD52 Оплачено: ${paid_at}\\n\\n\\u2705 Можно запускать работу.`;\n\nreturn [{ json: { text } }];"
      },
      "id": "pmh-parse-002",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pmh-tg-003",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAX_API_BASE || 'https://botapi.max.ru' }}/messages?chat_id={{ $env.MAX_ADMIN_USER_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pmh-max-004",
      "name": "Send to MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {},
      "id": "pmh-error-005",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🚨 *ОШИБКА в Payment Held*\n\nNode: ' + $json.execution.error.node.name + '\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pmh-error-notify-006",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 600]
    }
  ],
  "connections": {
    "Webhook Payment Held": {
      "main": [[{ "node": "Build Message", "type": "main", "index": 0 }]]
    },
    "Build Message": {
      "main": [
        [
          { "node": "Send to Telegram", "type": "main", "index": 0 },
          { "node": "Send to MAX", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-12-payment-held-v1",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "payments" }, { "name": "notification" }]
}
