workflows/13-payout-notification.json
{
  "name": "Подряд PRO — 13 Executor Payout",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payout-notification",
        "options": { "responseMode": "onReceived" }
      },
      "id": "pay-wh-001",
      "name": "Webhook Payout",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-payout-notification"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Payout').first().json;\nconst b = root.body || root;\nconst WORK_TYPE_LABELS = { labor: 'Рабочие / бригада', equipment: 'Техника', materials: 'Материалы', complex: 'Комплекс услуг', combo: 'Комбо-заказ' };\nconst rawType = String(b.work_type || '');\nconst work_type_label = WORK_TYPE_LABELS[rawType] || rawType || 'не указан';\nconst order_id = String(b.order_id || '—');\nconst executor_phone = String(b.executor_phone || 'не указан');\nconst payout_amount = b.payout_amount != null ? Number(b.payout_amount).toLocaleString('ru-RU') + ' ₽' : 'не указана';\nconst paid_at = String(b.paid_at || new Date().toISOString());\n\nconst adminText = `\\u2705 *Выплата исполнителю оформлена*\\n\\n\\uD83C\\uDD94 Заказ: ${order_id}\\n\\uD83D\\uDD28 Тип работ: ${work_type_label}\\n\\uD83D\\uDCDE Исполнитель: ${executor_phone}\\n\\uD83D\\uDCB5 Сумма выплаты: ${payout_amount}\\n\\uD83D\\uDD52 Время: ${paid_at}`;\n\nconst executorText = `\\u2705 *Выплата по заказу ${order_id}*\\n\\nВам перечислено: ${payout_amount}\\nТип работ: ${work_type_label}\\n\\nСпасибо за работу с Подряд PRO!`;\n\nreturn [{ json: { adminText, executorText, executor_phone } }];"
      },
      "id": "pay-parse-002",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.adminText, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pay-tg-admin-003",
      "name": "Notify Admin TG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAX_API_BASE || 'https://botapi.max.ru' }}/messages?chat_id={{ $env.MAX_ADMIN_USER_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.adminText, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pay-max-admin-004",
      "name": "Notify Admin MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {},
      "id": "pay-error-005",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🚨 *ОШИБКА в Executor Payout*\n\nNode: ' + $json.execution.error.node.name + '\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pay-error-notify-006",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 600]
    }
  ],
  "connections": {
    "Webhook Payout": {
      "main": [[{ "node": "Build Messages", "type": "main", "index": 0 }]]
    },
    "Build Messages": {
      "main": [
        [
          { "node": "Notify Admin TG", "type": "main", "index": 0 },
          { "node": "Notify Admin MAX", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-13-payout-notification-v1",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "payments" }, { "name": "payouts" }]
}
