workflows/14-order-created.json
{
  "name": "Подряд PRO — 14 Order Created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-created",
        "options": { "responseMode": "onReceived" }
      },
      "id": "order-wh-001",
      "name": "Webhook Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-order-created"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Order').first().json;\nconst b = root.body || root;\nconst WORK_TYPE_LABELS = { labor: 'Рабочие / бригада', equipment: 'Техника', materials: 'Материалы', complex: 'Комплекс услуг', combo: 'Комбо-заказ' };\nconst rawType = String(b.work_type || '');\nconst work_type_label = WORK_TYPE_LABELS[rawType] || rawType || 'не указан';\nconst address = String(b.address || 'не указан');\nconst work_date = String(b.work_date || 'не указана');\nconst people_count = String(b.people_count || b.people || '—');\nconst hours = b.hours ? ` × ${b.hours} ч` : '';\nconst phone = String(b.phone || b.customer_phone || 'не указан');\nconst customer_name = b.customer_name ? `\\n\\uD83D\\uDC64 Клиент: ${b.customer_name}` : '';\nconst order_id = b.order_id ? `\\n\\uD83C\\uDD94 Заказ: ${b.order_id}` : '';\n\nconst text = `\\uD83D\\uDCC4 *Новый заказ!*${order_id}${customer_name}\\n\\n\\uD83D\\uDD28 Тип работ: ${work_type_label}\\n\\uD83D\\uDCCD Адрес: ${address}\\n\\uD83D\\uDCC5 Дата: ${work_date}\\n\\uD83D\\uDC65 Исполнителей: ${people_count}${hours}\\n\\uD83D\\uDCDE Тел: ${phone}`;\n\nreturn [{ json: { text } }];"
      },
      "id": "order-parse-002",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "order-tg-003",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAX_API_BASE || 'https://botapi.max.ru' }}/messages?chat_id={{ $env.MAX_ADMIN_USER_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "order-max-004",
      "name": "Send to MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {},
      "id": "order-error-005",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '\uD83D\uDEA8 *ОШИБКА в Order Created*\n\nNode: ' + $json.execution.error.node.name + '\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "order-error-notify-006",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 600]
    }
  ],
  "connections": {
    "Webhook Order": {
      "main": [[{ "node": "Build Message", "type": "main", "index": 0 }]]
    },
    "Build Message": {
      "main": [
        [
          { "node": "Send to Telegram", "type": "main", "index": 0 },
          { "node": "Send to MAX", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-14-order-created-v1",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "orders" }, { "name": "notification" }]
}
