workflows/15-contractor-registered.json
{
  "name": "Подряд PRO — 15 Contractor Registered",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contractor-registered",
        "options": { "responseMode": "onReceived" }
      },
      "id": "contr-wh-001",
      "name": "Webhook Contractor",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-contractor-registered"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Contractor').first().json;\nconst b = root.body || root;\nconst name = String(b.name || 'не указано');\nconst phone = String(b.phone || 'не указан');\nconst city = String(b.city || 'не указан');\nconst specialties = Array.isArray(b.specialties) ? b.specialties.join(', ') : String(b.specialties || 'не указаны');\nconst preferred_contact = String(b.preferred_contact || 'не указан');\n\nconst text = `\uD83D\uDC77 *Новый исполнитель!*\n\n\uD83D\uDC64 Имя: ${name}\n\uD83D\uDCDE Телефон: ${phone}\n\uD83C\uDFD9 Город: ${city}\n\uD83D\uDD28 Специальности: ${specialties}\n\uD83D\uDCAC Контакт: ${preferred_contact}`;\n\nreturn [{ json: { text } }];"
      },
      "id": "contr-parse-002",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "contr-tg-003",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://botapi.max.ru/messages?chat_id={{ $env.MAX_ADMIN_USER_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "contr-max-004",
      "name": "Send to MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {},
      "id": "contr-error-005",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '\uD83D\uDEA8 *ОШИБКА в Contractor Registered*\n\nNode: ' + $json.execution.error.node.name + '\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "contr-error-notify-006",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 600]
    }
  ],
  "connections": {
    "Webhook Contractor": {
      "main": [[{ "node": "Build Message", "type": "main", "index": 0 }]]
    },
    "Build Message": {
      "main": [
        [
          { "node": "Send to Telegram", "type": "main", "index": 0 },
          { "node": "Send to MAX", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-15-contractor-registered-v1",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "contractors" }, { "name": "notification" }]
}
