workflows/16-send-dashboard-link.json
{
  "name": "Подряд PRO — 16 Send Dashboard Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-dashboard-link",
        "options": { "responseMode": "onReceived" }
      },
      "id": "dash-wh-001",
      "name": "Webhook Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-send-dashboard-link"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Dashboard').first().json;\nconst b = root.body || root;\nreturn [{\n  json: {\n    preferred_contact: String(b.preferred_contact || '').toLowerCase(),\n    dashboard_url: String(b.dashboard_url || ''),\n    telegram_chat_id: b.telegram_chat_id || null,\n    max_user_id: b.max_user_id || null,\n    name: String(b.name || 'Исполнитель')\n  }\n}];"
      },
      "id": "dash-parse-002",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_contact }}",
              "operation": "equals",
              "value2": "telegram"
            }
          ]
        }
      },
      "id": "dash-if-tg-003",
      "name": "Is Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_chat_id || Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '\uD83D\uDCCA Ваш личный кабинет готов!\n\n\uD83D\uDD17 ' + $json.dashboard_url, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dash-tg-send-004",
      "name": "Send via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 160]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_contact }}",
              "operation": "equals",
              "value2": "max"
            }
          ]
        }
      },
      "id": "dash-if-max-005",
      "name": "Is MAX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://botapi.max.ru/messages?chat_id={{ $json.max_user_id || $env.MAX_ADMIN_USER_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '\uD83D\uDCCA Ваш личный кабинет готов!\n\n\uD83D\uDD17 ' + $json.dashboard_url, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dash-max-send-006",
      "name": "Send via MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '\uD83D\uDCCB *Ручная отправка ссылки*\n\nИсполнитель: ' + $json.name + '\nКонтакт: ' + $json.preferred_contact + '\nСсылка: ' + $json.dashboard_url + '\n\nОтправьте ссылку вручную!', parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dash-manual-007",
      "name": "Notify Admin Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 700]
    },
    {
      "parameters": {},
      "id": "dash-error-008",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '\uD83D\uDEA8 *ОШИБКА в Send Dashboard Link*\n\nNode: ' + $json.execution.error.node.name + '\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dash-error-notify-009",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 780]
    }
  ],
  "connections": {
    "Webhook Dashboard": {
      "main": [[{ "node": "Parse Payload", "type": "main", "index": 0 }]]
    },
    "Parse Payload": {
      "main": [
        [
          { "node": "Is Telegram?", "type": "main", "index": 0 },
          { "node": "Is MAX?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Telegram?": {
      "main": [
        [{ "node": "Send via Telegram", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is MAX?": {
      "main": [
        [{ "node": "Send via MAX", "type": "main", "index": 0 }],
        [{ "node": "Notify Admin Manual", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-16-send-dashboard-link-v1",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "contractors" }, { "name": "dashboard" }]
}
