workflows/16-send-dashboard-link.json
{
  "name": "Подряд PRO — 16 Send Dashboard Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-dashboard-link",
        "options": { "responseMode": "onReceived" }
      },
      "id": "dash-wh-001",
      "name": "Webhook Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-send-dashboard-link"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Dashboard').first().json;\nconst b = root.body || root;\nconst preferred_contact = String(b.preferred_contact || '').toLowerCase();\nconst accessToken = String(b.access_token || '');\nconst dashboard_url = accessToken\n  ? `https://podryad.pro/my?token=${accessToken}`\n  : String(b.dashboard_url || '');\nconst messengerId = b.messenger_id || null;\nconst telegram_chat_id = (preferred_contact === 'telegram' && messengerId)\n  ? String(messengerId)\n  : (b.telegram_chat_id ? String(b.telegram_chat_id) : null);\nconst max_user_id = (preferred_contact === 'max' && messengerId)\n  ? String(messengerId)\n  : (b.max_user_id ? String(b.max_user_id) : null);\nconst name = String(b.name || 'Пользователь');\nreturn [{ json: { preferred_contact, dashboard_url, telegram_chat_id, max_user_id, name } }];"
      },
      "id": "dash-parse-002",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.preferred_contact }}",
                    "rightValue": "telegram",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.preferred_contact }}",
                    "rightValue": "max",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "max"
            }
          ],
          "fallbackOutput": {
            "fallbackOutputIndex": 2
          }
        },
        "options": {}
      },
      "id": "dash-switch-003",
      "name": "Route by Contact",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_chat_id || Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '📊 Ваш личный кабинет готов!\\n\\n🔗 ' + $json.dashboard_url, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dash-tg-send-004",
      "name": "Send via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.MAX_API_BASE || 'https://botapi.max.ru') + '/messages?chat_id=' + ($json.max_user_id || $env.MAX_ADMIN_USER_ID) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '📊 Ваш личный кабинет готов!\\n\\n🔗 ' + $json.dashboard_url, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dash-max-send-006",
      "name": "Send via MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '📋 *Ручная отправка ссылки*\\n\\nИсполнитель: ' + $json.name + '\\nКонтакт: ' + $json.preferred_contact + '\\nСсылка: ' + $json.dashboard_url + '\\n\\nОтправьте ссылку вручную!', parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dash-manual-007",
      "name": "Notify Admin Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 520]
    },
    {
      "parameters": {},
      "id": "dash-error-008",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🚨 *ОШИБКА в Send Dashboard Link*\\n\\nNode: ' + $json.execution.error.node.name + '\\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dash-error-notify-009",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 700]
    }
  ],
  "connections": {
    "Webhook Dashboard": {
      "main": [[{ "node": "Parse Payload", "type": "main", "index": 0 }]]
    },
    "Parse Payload": {
      "main": [
        [{ "node": "Route by Contact", "type": "main", "index": 0 }]
      ]
    },
    "Route by Contact": {
      "main": [
        [{ "node": "Send via Telegram", "type": "main", "index": 0 }],
        [{ "node": "Send via MAX", "type": "main", "index": 0 }],
        [{ "node": "Notify Admin Manual", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-16-send-dashboard-link-v2",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "contractors" }, { "name": "dashboard" }]
}
