workflows/17-send-invoice.json
{
  "name": "Подряд PRO — 17 Send Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-invoice",
        "options": { "responseMode": "onReceived" }
      },
      "id": "inv-wh-001",
      "name": "Webhook Invoice",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-send-invoice"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Invoice').first().json;\nconst b = root.body || root;\n\nconst order_number = String(b.order_number || b.order_id || 'б/н');\nconst customer_type = String(b.customer_type || 'individual');\nconst amount = b.amount ? Number(b.amount).toLocaleString('ru-RU') : null;\nconst customer_name = String(b.customer_name || '');\nconst preferred_contact = String(b.preferred_contact || 'telegram');\nconst customer_phone = String(b.customer_phone || '');\n\nconst amountLine = amount ? `\\n\\uD83D\\uDCB0 Сумма: ${amount} ₽` : '';\nconst nameLine = customer_name ? `\\n\\uD83D\\uDC64 Клиент: ${customer_name}` : '';\n\nlet text;\nif (customer_type === 'legal_entity') {\n  const companyInn = $env.COMPANY_INN || 'уточните у менеджера';\n  const companyBank = $env.COMPANY_BANK || 'уточните у менеджера';\n  const companyAccount = $env.COMPANY_ACCOUNT || 'уточните у менеджера';\n  const companyBik = $env.COMPANY_BIK || 'уточните у менеджера';\n  text = `\\uD83E\\uDDFE *Счёт на оплату — Заказ ${order_number}*${nameLine}${amountLine}\\n\\n\\uD83D\\uDCCB *Реквизиты для оплаты:*\\nИНН: ${companyInn}\\nБанк: ${companyBank}\\nРасчётный счёт: ${companyAccount}\\nБИК: ${companyBik}\\n\\nВ назначении платежа укажите номер заказа: ${order_number}`;\n} else {\n  const sbpPhone = $env.COMPANY_SBP_PHONE || 'уточните у менеджера';\n  text = `\\uD83D\\uDCB3 *Оплата по СБП — Заказ ${order_number}*${nameLine}${amountLine}\\n\\n\\uD83D\\uDCF2 *Реквизиты СБП:*\\nТелефон: ${sbpPhone}\\n\\nПосле оплаты пришлите скриншот — мы подтвердим получение.`;\n}\n\nreturn [{ json: { text, preferred_contact, customer_phone } }];"
      },
      "id": "inv-parse-002",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/customer_tokens?phone=eq.' + encodeURIComponent($json.customer_phone) + '&select=messenger_id,preferred_contact&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept-Profile", "value": "public" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "inv-lookup-008",
      "name": "Lookup Messenger ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const msgData = $('Build Message').first().json;\nconst tokenRows = $input.first().json;\nconst tokenRow = Array.isArray(tokenRows) ? tokenRows[0] : tokenRows;\nconst messengerId = tokenRow?.messenger_id || null;\nconst preferred_contact = msgData.preferred_contact;\nreturn [{ json: {\n  text: msgData.text,\n  preferred_contact,\n  telegram_chat_id: preferred_contact === 'telegram' && messengerId ? String(messengerId) : null,\n  max_user_id: preferred_contact === 'max' && messengerId ? String(messengerId) : null\n} }];"
      },
      "id": "inv-merge-009",
      "name": "Merge Messenger ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_contact }}",
              "value2": "max"
            }
          ]
        }
      },
      "id": "inv-route-003",
      "name": "Route by Messenger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.MAX_API_BASE || 'https://botapi.max.ru') + '/messages?chat_id=' + ($json.max_user_id || $env.MAX_ADMIN_USER_ID) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "inv-max-004",
      "name": "Send via MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_chat_id || Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "inv-tg-005",
      "name": "Send via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400]
    },
    {
      "parameters": {},
      "id": "inv-error-006",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🚨 *ОШИБКА в Send Invoice*\\n\\nNode: ' + $json.execution.error.node.name + '\\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "inv-error-notify-007",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 600]
    }
  ],
  "connections": {
    "Webhook Invoice": {
      "main": [[{ "node": "Build Message", "type": "main", "index": 0 }]]
    },
    "Build Message": {
      "main": [[{ "node": "Lookup Messenger ID", "type": "main", "index": 0 }]]
    },
    "Lookup Messenger ID": {
      "main": [[{ "node": "Merge Messenger ID", "type": "main", "index": 0 }]]
    },
    "Merge Messenger ID": {
      "main": [[{ "node": "Route by Messenger", "type": "main", "index": 0 }]]
    },
    "Route by Messenger": {
      "main": [
        [{ "node": "Send via MAX", "type": "main", "index": 0 }],
        [{ "node": "Send via Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "podryad-pro" }]
}
