workflows/17-send-payment-link.json
{
  "name": "Подряд PRO — 17 Send Payment Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-payment-link",
        "options": { "responseMode": "onReceived" }
      },
      "id": "pay-wh-001",
      "name": "Webhook Payment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-send-payment-link"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Payment').first().json;\nconst b = root.body || root;\nreturn [{\n  json: {\n    preferred_contact: String(b.preferred_contact || '').toLowerCase(),\n    display_price: String(b.display_price || '0'),\n    payment_url: String(b.payment_url || ''),\n    telegram_chat_id: b.telegram_chat_id || null,\n    max_user_id: b.max_user_id || null,\n    name: String(b.name || 'Клиент')\n  }\n}];"
      },
      "id": "pay-parse-002",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_contact }}",
              "operation": "equals",
              "value2": "telegram"
            }
          ]
        }
      },
      "id": "pay-if-tg-003",
      "name": "Is Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_chat_id || Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '\uD83D\uDCB3 Ваш заказ готов к оплате: ' + $json.display_price + ' \u20BD.\n\n\uD83D\uDD17 Оплатить: ' + $json.payment_url, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pay-tg-send-004",
      "name": "Send via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 160]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_contact }}",
              "operation": "equals",
              "value2": "max"
            }
          ]
        }
      },
      "id": "pay-if-max-005",
      "name": "Is MAX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://botapi.max.ru/messages?chat_id={{ $json.max_user_id || $env.MAX_ADMIN_USER_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '\uD83D\uDCB3 Ваш заказ готов к оплате: ' + $json.display_price + ' \u20BD.\n\n\uD83D\uDD17 Оплатить: ' + $json.payment_url, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pay-max-send-006",
      "name": "Send via MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '\uD83D\uDCCB *Ручная отправка ссылки оплаты*\n\nКлиент: ' + $json.name + '\nКонтакт: ' + $json.preferred_contact + '\nСумма: ' + $json.display_price + ' \u20BD\nСсылка: ' + $json.payment_url + '\n\nОтправьте ссылку вручную!', parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pay-manual-007",
      "name": "Notify Admin Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 700]
    },
    {
      "parameters": {},
      "id": "pay-error-008",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '\uD83D\uDEA8 *ОШИБКА в Send Payment Link*\n\nNode: ' + $json.execution.error.node.name + '\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pay-error-notify-009",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 780]
    }
  ],
  "connections": {
    "Webhook Payment": {
      "main": [[{ "node": "Parse Payload", "type": "main", "index": 0 }]]
    },
    "Parse Payload": {
      "main": [
        [
          { "node": "Is Telegram?", "type": "main", "index": 0 },
          { "node": "Is MAX?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Telegram?": {
      "main": [
        [{ "node": "Send via Telegram", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is MAX?": {
      "main": [
        [{ "node": "Send via MAX", "type": "main", "index": 0 }],
        [{ "node": "Notify Admin Manual", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-17-send-payment-link-v1",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "payments" }, { "name": "notification" }]
}
