workflows/17-send-invoice.json
{
  "name": "Подряд PRO — 17 Send Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-invoice",
        "options": { "responseMode": "onReceived" }
      },
      "id": "inv-wh-001",
      "name": "Webhook Invoice",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-send-invoice"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Invoice').first().json;\nconst b = root.body || root;\n\nconst order_number = String(b.order_number || b.order_id || 'б/н');\nconst customer_type = String(b.customer_type || 'individual');\nconst amount = b.amount ? Number(b.amount).toLocaleString('ru-RU') : null;\nconst customer_name = String(b.customer_name || '');\nconst preferred_contact = String(b.preferred_contact || 'telegram');\n\nconst amountLine = amount ? `\\n💰 Сумма: ${amount} ₽` : '';\nconst nameLine = customer_name ? `\\n👤 Клиент: ${customer_name}` : '';\n\nlet text;\nif (customer_type === 'legal_entity') {\n  const companyInn = $env.COMPANY_INN || 'уточните у менеджера';\n  const companyBank = $env.COMPANY_BANK || 'уточните у менеджера';\n  const companyAccount = $env.COMPANY_ACCOUNT || 'уточните у менеджера';\n  const companyBik = $env.COMPANY_BIK || 'уточните у менеджера';\n  text = `🧾 *Счёт на оплату — Заказ ${order_number}*${nameLine}${amountLine}\\n\\n📋 *Реквизиты для оплаты:*\\nИНН: ${companyInn}\\nБанк: ${companyBank}\\nРасчётный счёт: ${companyAccount}\\nБИК: ${companyBik}\\n\\nВ назначении платежа укажите номер заказа: ${order_number}`;\n} else {\n  const sbpPhone = $env.COMPANY_SBP_PHONE || 'уточните у менеджера';\n  text = `💳 *Оплата по СБП — Заказ ${order_number}*${nameLine}${amountLine}\\n\\n📲 *Реквизиты СБП:*\\nТелефон: ${sbpPhone}\\n\\nПосле оплаты пришлите скриншот — мы подтвердим получение.`;\n}\n\nreturn [{ json: { text, preferred_contact } }];"
      },
      "id": "inv-parse-002",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_contact }}",
              "value2": "max"
            }
          ]
        }
      },
      "id": "inv-route-003",
      "name": "Route by Messenger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://botapi.max.ru/sendMessage?token=' + $env.MAX_BOT_TOKEN }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $('Webhook Invoice').first().json.body?.telegram_chat_id || $('Webhook Invoice').first().json.telegram_chat_id }}" },
            { "name": "text", "value": "={{ $('Build Message').first().json.text }}" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        },
        "options": {}
      },
      "id": "inv-max-004",
      "name": "Send via MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $('Webhook Invoice').first().json.body?.telegram_chat_id || $('Webhook Invoice').first().json.telegram_chat_id }}" },
            { "name": "text", "value": "={{ $('Build Message').first().json.text }}" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        },
        "options": {}
      },
      "id": "inv-tg-005",
      "name": "Send via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400]
    }
  ],
  "connections": {
    "Webhook Invoice": {
      "main": [[{ "node": "Build Message", "type": "main", "index": 0 }]]
    },
    "Build Message": {
      "main": [[{ "node": "Route by Messenger", "type": "main", "index": 0 }]]
    },
    "Route by Messenger": {
      "main": [
        [{ "node": "Send via MAX", "type": "main", "index": 0 }],
        [{ "node": "Send via Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "podryad-pro" }]
}
