workflows/19-executor-avito-nurture.json
{
  "name": "Подряд PRO — 19 Executor Avito Nurture Agent",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] }
      },
      "id": "eana-cron-001",
      "name": "Cron: Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/crm_executor_prospects?stage=in.(new,messaged,replied,contact_collected,invite_sent)&select=*&order=next_followup_at.asc.nullsfirst&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "eana-fetch-prospects-002",
      "name": "Fetch Active Prospects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const prospects = $input.first().json;\nconst now = new Date();\n\nif (!Array.isArray(prospects) || prospects.length === 0) {\n  return [{ json: { hasWork: false, summary: 'Нет активных проспектов', count: 0 } }];\n}\n\n// Разбиваем по стадиям\nconst toContact = [];\nconst toInvite = [];\nconst toCheckRegistered = [];\n\nfor (const p of prospects) {\n  const nextFollowup = p.next_followup_at ? new Date(p.next_followup_at) : null;\n  const needsAction = !nextFollowup || nextFollowup <= now;\n  \n  if (!needsAction) continue;\n  \n  if (p.stage === 'new') {\n    toContact.push(p);\n  } else if (p.stage === 'messaged' || p.stage === 'replied') {\n    // Follow-up в Авито — напоминаем об ответе\n    toContact.push(p);\n  } else if (p.stage === 'contact_collected' || p.stage === 'invite_sent') {\n    toInvite.push(p);\n  }\n  \n  toCheckRegistered.push(p);\n}\n\nreturn [{ json: {\n  hasWork: true,\n  toContact,\n  toInvite,\n  toCheckRegistered,\n  totalProspects: prospects.length,\n  summary: `Проспекты: ${prospects.length} / К контакту: ${toContact.length} / К инвайту: ${toInvite.length}`\n} }];"
      },
      "id": "eana-analyze-003",
      "name": "Analyze Prospects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.hasWork }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ]
        }
      },
      "id": "eana-has-work-004",
      "name": "Has Work?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst toContact = data.toContact || [];\nconst toInvite = data.toInvite || [];\n\n// Генерируем Авито-сообщения для каждого проспекта\nconst SPECIALTY_MAP = {\n  'demolition': 'снос и демонтаж',\n  'painting': 'малярно-штукатурные работы',\n  'electrical': 'электромонтажные работы',\n  'plumbing': 'сантехника',\n  'tiling': 'плиточные работы',\n  'flooring': 'напольные покрытия',\n  'carpentry': 'плотницкие работы',\n  'roofing': 'кровельные работы',\n  'general': 'общестроительные работы',\n  'landscaping': 'благоустройство территории'\n};\n\nconst AVITO_MESSAGES = {\n  new: (p) => {\n    const city = p.city === 'novosibirsk' ? 'Новосибирске' : 'Омске';\n    const specs = (p.specialties || []).map(s => SPECIALTY_MAP[s] || s).join(', ');\n    return `Здравствуйте! Меня зовут Алексей, я представляю сервис Подряд PRO — мы помогаем мастерам находить клиентов в ${city}.\\n\\nВижу, что вы занимаетесь ${specs || 'строительными работами'}. У нас сейчас есть запросы от заказчиков именно по вашей специализации.\\n\\nПлатформа полностью бесплатна для исполнителей — вы получаете заказы и выбираете подходящие. Расскажите подробнее, как вы сейчас работаете? Интересно было бы сотрудничать?`;\n  },\n  messaged: (p) => {\n    return `Добрый день! Писал вам ранее по поводу сервиса Подряд PRO. Хотел уточнить — получили моё сообщение? Есть актуальные заказы в вашем районе, хотел бы поделиться деталями.`;\n  },\n  replied: (p) => {\n    return `Отлично, что ответили! Для регистрации на платформе нужно всего 5 минут. Могу прислать ссылку на регистрацию удобным способом — WhatsApp, Telegram или SMS. Как лучше?`;\n  }\n};\n\nconst INVITE_MESSAGES = {\n  contact_collected: (p) => {\n    const city = p.city === 'novosibirsk' ? 'Новосибирске' : 'Омске';\n    return `🏗 Подряд PRO приглашает вас присоединиться!\\n\\nВы общались с нашим представителем насчёт заказов в ${city}.\\n\\n✅ Регистрация бесплатная\\n✅ Выбираете только подходящие заказы\\n✅ Оплата гарантирована эскроу-сервисом\\n\\nЗарегистрироваться за 2 минуты:`;\n  },\n  invite_sent: (p) => {\n    return `Напоминаю о регистрации на Подряд PRO — ссылку отправлял раньше. Сейчас в системе есть заказы по вашей специализации. Зарегистрируйтесь — первый заказ подберём лично! 🤝`;\n  }\n};\n\nconst contactMessages = toContact.map(p => ({\n  ...p,\n  avitoMessage: (AVITO_MESSAGES[p.stage] || AVITO_MESSAGES.messaged)(p),\n  action: 'avito_message'\n}));\n\nconst inviteMessages = toInvite.map(p => ({\n  ...p,\n  inviteMessage: (INVITE_MESSAGES[p.stage] || INVITE_MESSAGES.contact_collected)(p),\n  regLink: `https://app.podryad.pro/join?ref=avito&phone=${p.phone || ''}`,\n  action: 'send_invite'\n}));\n\nreturn [{ json: { contactMessages, inviteMessages, data } }];"
      },
      "id": "eana-build-messages-005",
      "name": "Build Outreach Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst contactMessages = data.contactMessages || [];\nconst inviteMessages = data.inviteMessages || [];\n\nif (contactMessages.length === 0 && inviteMessages.length === 0) {\n  return [{ json: { skipped: true } }];\n}\n\n// Формируем единый отчёт для администратора\nlet report = `🤖 *CRM Агент — Исполнители Авито*\\n\\nДата: ${new Date().toLocaleString('ru-RU')}\\n`;\nreport += `\\n📊 Обработано проспектов: ${data.data?.totalProspects || 0}`;\n\nif (contactMessages.length > 0) {\n  report += `\\n\\n📨 *Написать в Авито (${contactMessages.length})*:`;\n  for (const p of contactMessages.slice(0, 5)) {\n    report += `\\n\\n👷 ${p.name || 'Без имени'}`;\n    if (p.avito_profile_url) report += `\\n🔗 ${p.avito_profile_url}`;\n    report += `\\n📋 Специализация: ${(p.specialties || []).join(', ') || 'не указана'}`;\n    report += `\\n\\n*Текст сообщения:*\\n${p.avitoMessage}`;\n    report += `\\n${'─'.repeat(20)}`;\n  }\n  if (contactMessages.length > 5) {\n    report += `\\n\\n...и ещё ${contactMessages.length - 5} проспектов`;\n  }\n}\n\nif (inviteMessages.length > 0) {\n  report += `\\n\\n📲 *Отправить регистрационную ссылку (${inviteMessages.length})*:`;\n  for (const p of inviteMessages.slice(0, 5)) {\n    report += `\\n\\n👷 ${p.name || 'Без имени'}`;\n    if (p.phone) report += ` | Тел: ${p.phone}`;\n    report += `\\n🔗 Ссылка: ${p.regLink}`;\n    report += `\\n\\n*Текст:*\\n${p.inviteMessage}\\n${p.regLink}`;\n    report += `\\n${'─'.repeat(20)}`;\n  }\n}\n\nreturn [{ json: { report, contactCount: contactMessages.length, inviteCount: inviteMessages.length, contactMessages, inviteMessages } }];"
      },
      "id": "eana-build-report-006",
      "name": "Build Admin Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.report.slice(0, 4000), parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "eana-send-report-tg-007",
      "name": "Send Report to Admin TG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst contactMessages = data.contactMessages || [];\nconst inviteMessages = data.inviteMessages || [];\nconst allToProcess = [...contactMessages, ...inviteMessages];\n\n// Обновляем стадии для каждого проспекта\nconst updates = [];\nconst now = new Date();\n\nfor (const p of allToProcess) {\n  let newStage = p.stage;\n  let nextFollowup = null;\n  \n  if (p.stage === 'new') {\n    newStage = 'messaged';\n    nextFollowup = new Date(now.getTime() + 48 * 3600 * 1000).toISOString(); // +48h\n  } else if (p.stage === 'messaged') {\n    newStage = 'messaged'; // Остаётся, увеличиваем счётчик\n    nextFollowup = new Date(now.getTime() + 72 * 3600 * 1000).toISOString(); // +72h\n  } else if (p.stage === 'contact_collected') {\n    newStage = 'invite_sent';\n    nextFollowup = new Date(now.getTime() + 48 * 3600 * 1000).toISOString(); // +48h\n  } else if (p.stage === 'invite_sent') {\n    nextFollowup = new Date(now.getTime() + 7 * 24 * 3600 * 1000).toISOString(); // +7 days\n  }\n  \n  updates.push({\n    id: p.id,\n    stage: newStage,\n    contact_attempts: (p.contact_attempts || 0) + 1,\n    last_contacted_at: now.toISOString(),\n    next_followup_at: nextFollowup,\n    updated_at: now.toISOString()\n  });\n}\n\nreturn [{ json: { updates, count: updates.length } }];"
      },
      "id": "eana-build-updates-008",
      "name": "Build Stage Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 200]
    },
    {
      "parameters": {
        "jsCode": "const { updates } = $input.first().json;\n// Split into individual items for SplitInBatches\nreturn updates.map(u => ({ json: u }));"
      },
      "id": "eana-split-updates-009",
      "name": "Split to Individual Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/crm_executor_prospects?id=eq.{{ $json.id }}",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: $json.stage, contact_attempts: $json.contact_attempts, last_contacted_at: $json.last_contacted_at, next_followup_at: $json.next_followup_at, updated_at: $json.updated_at }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "eana-update-stages-010",
      "name": "Update Prospect Stages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/crm_executor_prospects?stage=eq.invite_sent&registered_at=is.null&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "eana-check-registered-011",
      "name": "Check: Any Registered?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 200]
    },
    {
      "parameters": {
        "jsCode": "const inviteSentProspects = $input.first().json;\nif (!Array.isArray(inviteSentProspects) || inviteSentProspects.length === 0) {\n  return [{ json: { registrations: [] } }];\n}\n\n// Проверяем каждого: есть ли в таблице contractors с этим телефоном?\nconst phones = inviteSentProspects.filter(p => p.phone).map(p => p.phone);\nreturn [{ json: { toCheck: inviteSentProspects, phones } }];"
      },
      "id": "eana-check-contractors-012",
      "name": "Find Registered Contractors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.phones && $json.phones.length > 0 }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ]
        }
      },
      "id": "eana-has-phones-013",
      "name": "Has Phones to Check?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contractors?phone=in.({{ $json.phones.join(',') }})&select=id,phone,status,created_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "eana-query-contractors-014",
      "name": "Query Contractors DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 120]
    },
    {
      "parameters": {
        "jsCode": "const registeredContractors = $input.first().json;\nif (!Array.isArray(registeredContractors) || registeredContractors.length === 0) {\n  return [{ json: { newlyRegistered: [] } }];\n}\n\nconst now = new Date().toISOString();\nconst updates = registeredContractors.map(c => ({\n  phone: c.phone,\n  contractor_id: c.id,\n  update: { stage: 'registered', registered_at: now, contractor_id: c.id, updated_at: now }\n}));\n\nreturn [{ json: { newlyRegistered: registeredContractors, updates } }];"
      },
      "id": "eana-mark-registered-015",
      "name": "Mark as Registered",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3360, 120]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.newlyRegistered.length > 0 }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ]
        }
      },
      "id": "eana-newly-registered-check-016",
      "name": "Has Newly Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3600, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🎉 *CRM — Новые регистрации с Авито!*\\n\\n' + $json.newlyRegistered.map(c => '✅ ' + c.phone).join('\\n') + '\\n\\nЗарегистрировались на Подряд PRO после авито-рекрутинга!', parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "eana-notify-new-reg-017",
      "name": "Notify New Registrations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3840, 60]
    },
    {
      "parameters": {},
      "id": "eana-error-018",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🚨 ОШИБКА Executor Avito Agent\\n\\nNode: ' + $json.execution.error.node.name + '\\n' + $json.execution.error.message }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "eana-error-notify-019",
      "name": "Notify Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 600]
    }
  ],
  "connections": {
    "Cron: Every 6 Hours": { "main": [[{ "node": "Fetch Active Prospects", "type": "main", "index": 0 }]] },
    "Fetch Active Prospects": { "main": [[{ "node": "Analyze Prospects", "type": "main", "index": 0 }]] },
    "Analyze Prospects": { "main": [[{ "node": "Has Work?", "type": "main", "index": 0 }]] },
    "Has Work?": {
      "main": [
        [{ "node": "Build Outreach Messages", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Outreach Messages": { "main": [[{ "node": "Build Admin Report", "type": "main", "index": 0 }]] },
    "Build Admin Report": { "main": [[{ "node": "Send Report to Admin TG", "type": "main", "index": 0 }]] },
    "Send Report to Admin TG": { "main": [[{ "node": "Build Stage Updates", "type": "main", "index": 0 }]] },
    "Build Stage Updates": { "main": [[{ "node": "Split to Individual Updates", "type": "main", "index": 0 }]] },
    "Split to Individual Updates": { "main": [[{ "node": "Update Prospect Stages", "type": "main", "index": 0 }]] },
    "Update Prospect Stages": { "main": [[{ "node": "Check: Any Registered?", "type": "main", "index": 0 }]] },
    "Check: Any Registered?": { "main": [[{ "node": "Find Registered Contractors", "type": "main", "index": 0 }]] },
    "Find Registered Contractors": { "main": [[{ "node": "Has Phones to Check?", "type": "main", "index": 0 }]] },
    "Has Phones to Check?": {
      "main": [
        [{ "node": "Query Contractors DB", "type": "main", "index": 0 }],
        []
      ]
    },
    "Query Contractors DB": { "main": [[{ "node": "Mark as Registered", "type": "main", "index": 0 }]] },
    "Mark as Registered": { "main": [[{ "node": "Has Newly Registered?", "type": "main", "index": 0 }]] },
    "Has Newly Registered?": {
      "main": [
        [{ "node": "Notify New Registrations", "type": "main", "index": 0 }],
        []
      ]
    },
    "Error Trigger": { "main": [[{ "node": "Notify Error", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["crm", "automation", "executors", "avito"],
  "pinData": {}
}
