workflows/20-crm-conversion-tracker.json
{
  "name": "Подряд PRO — 20 CRM Conversion Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-conversion",
        "options": { "responseMode": "onReceived" }
      },
      "id": "cct-wh-001",
      "name": "Webhook: CRM Conversion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-crm-conversion"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook: CRM Conversion').first().json;\nconst b = root.body || root;\n\nconst event = String(b.event || '');           // 'order_created' | 'contractor_registered' | 'order_taken'\nconst phone = String(b.phone || '').replace(/\\D/g, '');\nconst entityId = b.entity_id ? String(b.entity_id) : null;\nconst entityType = String(b.entity_type || ''); // 'order' | 'contractor'\nconst metadata = b.metadata || {};\n\nconst isCustomerConversion = event === 'order_created';\nconst isExecutorRegistration = event === 'contractor_registered';\nconst isExecutorActive = event === 'order_taken';\n\nreturn [{ json: {\n  event, phone, entityId, entityType, metadata,\n  isCustomerConversion, isExecutorRegistration, isExecutorActive\n} }];"
      },
      "id": "cct-parse-002",
      "name": "Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.isCustomerConversion }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "customer" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.isExecutorRegistration }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "executor_registered" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.isExecutorActive }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "executor_active" }
          ]
        }
      },
      "id": "cct-route-003",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/crm_lead_funnel?phone=eq.{{ $json.phone }}",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'converted', converted_at: new Date().toISOString(), order_id: $json.entityId, updated_at: new Date().toISOString() }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "cct-update-lead-004",
      "name": "Mark Lead as Converted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '✅ *CRM — Конверсия заказчика!*\\n\\n📱 Телефон: ' + $json.phone + '\\n📋 Заказ: ' + ($json.entityId || '—') + '\\n\\n🎯 Лид прошёл всю воронку и создал заказ!', parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "cct-notify-customer-conv-005",
      "name": "Notify: Customer Converted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 120]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/crm_executor_prospects?phone=eq.{{ $json.phone }}",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'registered', registered_at: new Date().toISOString(), contractor_id: $json.entityId, updated_at: new Date().toISOString() }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "cct-update-prospect-006",
      "name": "Mark Prospect as Registered",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '✅ *CRM — Новый исполнитель зарегистрировался!*\\n\\n📱 Телефон: ' + $json.phone + '\\n🆔 ID: ' + ($json.entityId || '—') + '\\n\\n🎯 Авито-рекрутинг сработал! Исполнитель на платформе.', parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "cct-notify-exec-reg-007",
      "name": "Notify: Executor Registered",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/crm_executor_prospects?phone=eq.{{ $json.phone }}",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'active', first_order_at: new Date().toISOString(), updated_at: new Date().toISOString() }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "cct-update-prospect-active-008",
      "name": "Mark Prospect as Active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🏆 *CRM — Исполнитель с Авито взял первый заказ!*\\n\\n📱 Телефон: ' + $json.phone + '\\n📋 Заказ: ' + ($json.entityId || '—') + '\\n\\n💪 Полная конверсия завершена!', parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "cct-notify-exec-active-009",
      "name": "Notify: Executor Active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 480]
    },
    {
      "parameters": {},
      "id": "cct-error-010",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🚨 ОШИБКА CRM Conversion Tracker\\n\\n' + $json.execution.error.message }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "cct-error-notify-011",
      "name": "Notify Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 600]
    }
  ],
  "connections": {
    "Webhook: CRM Conversion": { "main": [[{ "node": "Parse Event", "type": "main", "index": 0 }]] },
    "Parse Event": { "main": [[{ "node": "Route by Event Type", "type": "main", "index": 0 }]] },
    "Route by Event Type": {
      "main": [
        [{ "node": "Mark Lead as Converted", "type": "main", "index": 0 }],
        [{ "node": "Mark Prospect as Registered", "type": "main", "index": 0 }],
        [{ "node": "Mark Prospect as Active", "type": "main", "index": 0 }]
      ]
    },
    "Mark Lead as Converted": { "main": [[{ "node": "Notify: Customer Converted", "type": "main", "index": 0 }]] },
    "Mark Prospect as Registered": { "main": [[{ "node": "Notify: Executor Registered", "type": "main", "index": 0 }]] },
    "Mark Prospect as Active": { "main": [[{ "node": "Notify: Executor Active", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Notify Error", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["crm", "conversion", "tracking"],
  "pinData": {}
}
