workflows/21-dispute-opened.json
{
  "name": "Подряд PRO — 21 Dispute Opened",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dispute-opened",
        "options": { "responseMode": "onReceived" }
      },
      "id": "dop-wh-001",
      "name": "Webhook Dispute Opened",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-dispute-opened"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Dispute Opened').first().json;\nconst b = root.body || root;\nconst INITIATOR_LABELS = { customer: 'Заказчик', supplier: 'Исполнитель' };\nconst order_id = String(b.order_id || '—');\nconst dispute_id = String(b.dispute_id || '—');\nconst initiated_by = String(b.initiated_by || '');\nconst initiator_label = INITIATOR_LABELS[initiated_by] || initiated_by || 'не указан';\nconst reason = String(b.reason || 'не указана').slice(0, 500);\nconst description = b.description ? String(b.description).slice(0, 1000) : '';\nconst descLine = description ? `\\n\\uD83D\\uDCAC Описание: ${description}` : '';\n\nconst text = `\\u26A0\\uFE0F *Открыт новый спор!*\\n\\n\\uD83C\\uDD94 Заказ: ${order_id}\\n\\uD83D\\uDD16 Спор: ${dispute_id}\\n\\uD83D\\uDC64 Инициатор: ${initiator_label}\\n\\uD83D\\uDCCB Причина: ${reason}${descLine}\\n\\n\\u26A1 Требуется решение в админке: /admin \\u2192 Споры`;\n\nreturn [{ json: { text } }];"
      },
      "id": "dop-parse-002",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dop-tg-003",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAX_API_BASE || 'https://botapi.max.ru' }}/messages?chat_id={{ $env.MAX_ADMIN_USER_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dop-max-004",
      "name": "Send to MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {},
      "id": "dop-error-005",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🚨 *ОШИБКА в Dispute Opened*\n\nNode: ' + $json.execution.error.node.name + '\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "dop-error-notify-006",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 600]
    }
  ],
  "connections": {
    "Webhook Dispute Opened": {
      "main": [[{ "node": "Build Message", "type": "main", "index": 0 }]]
    },
    "Build Message": {
      "main": [
        [
          { "node": "Send to Telegram", "type": "main", "index": 0 },
          { "node": "Send to MAX", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "podryad-21-dispute-opened-v1",
  "meta": { "instanceId": "podryad-pro" },
  "tags": [{ "name": "podryad-pro" }, { "name": "disputes" }, { "name": "notification" }]
}
