workflows/23-send-payment-link.json
{
  "name": "Подряд PRO — 23 Send Payment Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-payment-link",
        "options": { "responseMode": "onReceived" }
      },
      "id": "spl-wh-001",
      "name": "Webhook Payment Link",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "podryad-send-payment-link"
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook Payment Link').first().json;\nconst b = root.body || root;\nconst preferred_contact = String(b.preferred_contact || '').toLowerCase();\nconst accessToken = String(b.access_token || '');\nconst orderId = String(b.order_id || '');\nconst amount = b.display_price != null ? Number(b.display_price).toLocaleString('ru-RU') + ' ₽' : null;\nconst dashboardUrl = accessToken ? `https://podryad.pro/my/${accessToken}` : 'https://podryad.pro/my';\nconst messengerId = b.messenger_id || null;\nconst telegram_chat_id = (preferred_contact === 'telegram' && messengerId)\n  ? String(messengerId)\n  : (b.telegram_chat_id ? String(b.telegram_chat_id) : null);\nconst max_user_id = (preferred_contact === 'max' && messengerId)\n  ? String(messengerId)\n  : (b.max_user_id ? String(b.max_user_id) : null);\nconst amountLine = amount ? `\\n💰 Сумма: ${amount}` : '';\nconst orderLine = orderId ? `\\n🧾 Заказ: ${orderId}` : '';\nconst customerText = `💳 *Заказ готов к оплате*${orderLine}${amountLine}\\n\\n🔗 Личный кабинет: ${dashboardUrl}\\n\\nЕсли реквизиты СБП или счёт уже отправлены менеджером, после оплаты просто ответьте на это сообщение.`;\nreturn [{ json: { preferred_contact, dashboardUrl, customerText, telegram_chat_id, max_user_id, orderId } }];"
      },
      "id": "spl-build-002",
      "name": "Build Payment Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_contact }}",
              "value2": "max"
            }
          ]
        }
      },
      "id": "spl-route-max-003",
      "name": "Route MAX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_contact }}",
              "value2": "telegram"
            }
          ]
        }
      },
      "id": "spl-route-telegram-004",
      "name": "Route Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_chat_id || Number($env.TELEGRAM_ADMIN_CHAT_ID), text: $json.customerText, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "spl-tg-005",
      "name": "Send via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.MAX_API_BASE || 'https://botapi.max.ru') + '/messages?chat_id=' + ($json.max_user_id || $env.MAX_ADMIN_USER_ID) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=access_token=\"{{ $env.MAX_BOT_TOKEN }}\"" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.customerText, format: 'markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "spl-max-006",
      "name": "Send via MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '📋 *Ручная отправка платёжной ссылки*\\n\\nЗаказ: ' + ($json.orderId || '—') + '\\nСсылка: ' + $json.dashboardUrl + '\\n\\nОтправьте клиенту ссылку вручную.', parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "spl-manual-007",
      "name": "Notify Admin Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 520]
    },
    {
      "parameters": {},
      "id": "spl-error-008",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($env.TELEGRAM_ADMIN_CHAT_ID), text: '🚨 *ОШИБКА в Send Payment Link*\\n\\nNode: ' + $json.execution.error.node.name + '\\nОшибка: ' + $json.execution.error.message, parse_mode: 'Markdown' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "spl-error-notify-009",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 700]
    }
  ],
  "connections": {
    "Webhook Payment Link": {
      "main": [[{ "node": "Build Payment Message", "type": "main", "index": 0 }]]
    },
    "Build Payment Message": {
      "main": [[{ "node": "Route MAX?", "type": "main", "index": 0 }]]
    },
    "Route MAX?": {
      "main": [
        [{ "node": "Send via MAX", "type": "main", "index": 0 }],
        [{ "node": "Route Telegram?", "type": "main", "index": 0 }]
      ]
    },
    "Route Telegram?": {
      "main": [
        [{ "node": "Send via Telegram", "type": "main", "index": 0 }],
        [{ "node": "Notify Admin Manual", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Notify Admin Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "podryad-pro" }, { "name": "payments" }, { "name": "customer" }]
}